/**
 * Spawn Ideas
 * http://10up.com
 *
 * Copyright (c) 2014 Amy Hendrix
 * Licensed under the GPLv2+ license.
 */
.clear:before,
.entry-content:before,
.comment-content:before,
.site-header:before,
.site-content:before,
.site-footer:before, .content-list .post:before, .content-list .type-post:before, .content-list .type-spawn-projects:before, .content-list .archive:before, .home .row:before, .page-template-front-page-denver .row:before, .home .work .featured-work:before, .page-template-front-page-denver .work .featured-work:before, .home .home-gallery:before, .page-template-front-page-denver .home-gallery:before, .project-filter .filters:before, .brands ul:before,
.affiliates ul:before, .clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after, .content-list .post:after, .content-list .type-post:after, .content-list .type-spawn-projects:after, .content-list .archive:after, .home .row:after, .page-template-front-page-denver .row:after, .home .work .featured-work:after, .page-template-front-page-denver .work .featured-work:after, .home .home-gallery:after, .page-template-front-page-denver .home-gallery:after, .project-filter .filters:after, .brands ul:after,
.affiliates ul:after {
  content: "";
  display: table; }
.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after, .content-list .post:after, .content-list .type-post:after, .content-list .type-spawn-projects:after, .content-list .archive:after, .home .row:after, .page-template-front-page-denver .row:after, .home .work .featured-work:after, .page-template-front-page-denver .work .featured-work:after, .home .home-gallery:after, .page-template-front-page-denver .home-gallery:after, .project-filter .filters:after, .brands ul:after,
.affiliates ul:after {
  clear: both; }

.home .services h2, .page-template-front-page-denver .services h2, .posts .posts-header h2, .archive.category .posts-header h2, .awards .block-left h2 {
  font-size: 1.2em;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  padding: 2em;
  margin: 0 auto;
  text-align: center; }

.about .about-text, .archive.category .taxonomy-description, .page .services-sub-text, .jobs .jobs-text, .content-job .entry {
  padding: 1em 1em 1em 10em;
  position: relative; }
  .about .about-text:before, .archive.category .taxonomy-description:before, .page .services-sub-text:before, .jobs .jobs-text:before, .content-job .entry:before {
    content: '';
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #e27121;
    position: absolute;
    top: 2em;
    left: 3em; }
  @media screen and (max-width: 991px) {
    .about .about-text, .archive.category .taxonomy-description, .page .services-sub-text, .jobs .jobs-text, .content-job .entry {
      padding: 1em 1em 1em 4em; }
      .about .about-text:before, .archive.category .taxonomy-description:before, .page .services-sub-text:before, .jobs .jobs-text:before, .content-job .entry:before {
        height: 20px;
        width: 20px;
        top: 2em;
        left: 1.5em; } }

.home .work .featured-image, .page-template-front-page-denver .work .featured-image, .contact .map, .posts .posts-header, .archive.category .category-header .featured-image, .page .category-header .featured-image, .services-title, .open-jobs, .jobs .block-right, .awards .block-left {
  position: relative; }
  .home .work .featured-image:after, .page-template-front-page-denver .work .featured-image:after, .contact .map:after, .posts .posts-header:after, .archive.category .category-header .featured-image:after, .page .category-header .featured-image:after, .services-title:after, .open-jobs:after, .jobs .block-right:after, .awards .block-left:after {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    content: "";
    height: 50px;
    margin-top: -25px;
    position: absolute;
    right: -25px;
    top: 50%;
    width: 50px; }

.contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: #fff;
  color: #333;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: "Garamond", Georgia, serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 29px;
  margin: 0 0 0.67em 0; }

h2 {
  font-size: 25px;
  margin: 0 0 0.83em 0; }

h3 {
  font-size: 23px;
  margin: 0 0 1em 0; }

h4, .awards .block-right {
  font-size: 21px;
  margin: 0 0 1.33em 0; }

h5 {
  font-size: 17px;
  margin: 0 0 1.67em 0; }

h6 {
  font-size: 15px;
  margin: 0 0 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*--------------------------------------------------------------
2.0 Typography
--------------------------------------------------------------*/
@font-face {
  font-family: 'Garamond';
  src: url("../fonts/ebgaramond/ebgaramond-webfont.eot");
  src: url("../fonts/ebgaramond/ebgaramond-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ebgaramond/ebgaramond-webfont.woff") format("woff"), url("../fonts/ebgaramond/ebgaramond-webfont.ttf") format("truetype"), url("../fonts/ebgaramond/ebgaramond-webfont.svg#heroregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Hero';
  src: url("../fonts/hero/hero-webfont.eot");
  src: url("../fonts/hero/hero-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/hero/hero-webfont.woff") format("woff"), url("../fonts/hero/hero-webfont.ttf") format("truetype"), url("../fonts/hero/hero-webfont.svg#heroregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Hero Light';
  src: url("../fonts/hero/hero_light-webfont.eot");
  src: url("../fonts/hero/hero_light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/hero/hero_light-webfont.woff") format("woff"), url("../fonts/hero/hero_light-webfont.ttf") format("truetype"), url("../fonts/hero/hero_light-webfont.svg#hero_lightlight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Muncie';
  src: url("../fonts/muncie/muncie-webfont.eot");
  src: url("../fonts/muncie/muncie-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/muncie/muncie-webfont.woff") format("woff"), url("../fonts/muncie/muncie-webfont.ttf") format("truetype"), url("../fonts/muncie/muncie-webfont.svg#muncieregular") format("svg");
  font-weight: normal;
  font-style: normal; }
body,
button,
input,
select,
textarea {
  color: #333;
  font-family: "Garamond", Georgia, serif;
  line-height: 1.428571429;
  font-size: 17px; }

h1, h2, h3, h4, .awards .block-right, h5, h6 {
  clear: both;
  font-family: "Hero", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: .05em; }

h1 {
  font-size: 29px; }

h2 {
  font-size: 25px; }

h3 {
  font-size: 23px; }

h4, .awards .block-right {
  font-size: 21px; }

h5 {
  font-size: 17px; }

h6 {
  font-size: 15px; }

p {
  margin-bottom: 1.5em; }

b, strong {
  font-weight: bold; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code, kbd, tt, var {
  font-size: 15px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace; }

abbr, acronym {
  border-bottom: 1px dotted #d1d2d3;
  cursor: help; }

mark, ins {
  background: #fff9c0;
  text-decoration: none; }

sup,
sub {
  font-size: 15px;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  bottom: 1ex; }

sub {
  top: .5ex; }

small {
  font-size: 15px; }

big {
  font-size: 21px; }

.page-header {
  margin-top: 50px; }
  .page-header h1 {
    font-family: "Muncie", Arial Narrow, Helvetica, sans-serif;
    font-size: 6.5em;
    color: white;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    text-align: center;
    padding: .2em;
    letter-spacing: 0; }
    @media screen and (max-width: 991px) {
      .page-header h1 {
        font-size: 4em; } }

html,
body {
  min-height: 100%; }

body {
  background: #58595B;
  -webkit-font-smoothing: antialiased;
  font-rendering: optimizeLegibility; }

.site {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  background: white;
  overflow: hidden; }

.site-main {
  clear: both; }

.site-footer {
  clear: both;
  width: 100%; }

.row {
  width: 100%;
  clear: both; }

.half {
  width: 50%; }
  @media screen and (max-width: 991px) {
    .half {
      width: 100%; } }

.narrow {
  width: 25%; }

.narrow-third {
  width: 33%; }

.wide {
  width: 75%; }

.block-left {
  float: left; }

.block-right {
  float: right; }

/*--------------------------------------------------------------
3.0 Elements
--------------------------------------------------------------*/
hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

ul, ol {
  margin: 0 0 1.5em 1.5em;
  padding-left: 1em; }
  @media screen and (max-width: 768px) {
    ul, ol {
      margin: 0 0 1em 1em;
      padding-left: 1em; } }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em; }
  @media screen and (max-width: 768px) {
    li > ul,
    li > ol {
      margin-left: 1em; } }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
  line-height: 0; }

figure {
  margin: 0; }

table {
  margin: 0 0 1.5em;
  width: 100%; }

th {
  font-weight: bold; }

/*--------------------------------------------------------------
4.0 Forms
--------------------------------------------------------------*/
.button,
button,
input,
select,
textarea {
  font-size: 100%;
  /* Corrects font size not being inherited in all browsers */
  font-family: "Hero", Helvetica, Arial, sans-serif;
  margin: 0;
  /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
  vertical-align: baseline;
  /* Improves appearance and consistency in all browsers */ }

.button, button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="file"] {
  -webkit-appearance: button;
  /* Corrects inability to style clickable 'input' types in iOS */
  text-transform: uppercase;
  border: none;
  background: #ffb652;
  color: white;
  cursor: pointer;
  /* Improves usability and consistency of cursor style between image-type 'input' and others */
  font-size: 14px;
  line-height: 1.2;
  padding: .6em 1em .4em;
  text-align: left; }

input[type="file"] {
  -webkit-appearance: none;
  padding: .6em 0 .4em 0; }

.button:hover, button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="file"]:hover {
  background: #fdfdfd;
  background: #e27121; }

.button:focus, button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
input[type="file"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active,
input[type="file"]:active {
  border-color: #aaa #bbb #bbb; }

input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  /* Addresses excess padding in IE8/9 */ }

input[type="search"] {
  -webkit-appearance: textfield;
  /* Addresses appearance set to searchfield in S5, Chrome */
  -webkit-box-sizing: content-box;
  /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration {
  /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none; }

.button::-moz-focus-inner,
button::-moz-focus-inner,
input::-moz-focus-inner {
  /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
textarea {
  display: block;
  color: #808285;
  background: #e6e7e8;
  border: none;
  margin-bottom: 1em; }

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
textarea:focus {
  color: #111; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"] {
  padding: 5px; }

textarea {
  overflow: auto;
  /* Removes default vertical scrollbar in IE6/7/8/9 */
  padding-left: 3px;
  vertical-align: top;
  /* Improves readability and alignment in all browsers */
  width: 100%; }

label {
  font-family: "Hero", Helvetica, Arial, sans-serif; }

/* Gravity Forms styles*/
.gform_wrapper ul {
  margin-left: 0;
  padding-left: 0;
  list-style: none; }
.gform_wrapper input[type="submit"] {
  background: #e27121;
  color: white; }
  .gform_wrapper input[type="submit"]:hover {
    background: #ffb652; }
.gform_wrapper .left_label .gfield_label {
  width: 34% !important;
  margin: 0 15px 15px 0 !important; }
.gform_wrapper .left_label .gfield_description {
  margin-left: 35.3% !important;
  padding: 0 !important;
  font-family: "Hero", Helvetica, Arial, sans-serif;
  color: #929497;
  font-size: .8em; }
.gform_wrapper .gform_footer.left_label {
  padding: 16px 0 10px 35.3% !important; }
.gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio] {
  margin-left: 4px; }
.gform_wrapper input[type=text],
.gform_wrapper input[type=url],
.gform_wrapper input[type=email],
.gform_wrapper input[type=tel],
.gform_wrapper input[type=number],
.gform_wrapper input[type=password],
.gform_wrapper textarea {
  font-size: 14px !important;
  padding: 3px 2px 3px 2px !important; }

a {
  color: #e27121;
  text-decoration: none; }

a:visited {
  color: #d5732e; }

a:hover,
a:focus,
a:active {
  color: #253746;
  text-decoration: none; }

.main-navigation {
  width: 100%;
  max-width: 1200px;
  display: block;
  float: left;
  line-height: 1;
  background: #253746;
  position: fixed;
  top: 0;
  margin-top: 0;
  height: 64px;
  z-index: 100; }
  .admin-bar .main-navigation {
    top: 32px; }

/*--------------------------------------------------------------
5.2 Menus
--------------------------------------------------------------*/
.menu-toggle:after {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  vertical-align: text-bottom; }

/* Clearing floats */
.navigation:after,
.nav-links:after {
  clear: both; }

.navigation:before,
.navigation:after,
.nav-links:before,
.nav-links:after {
  content: "";
  display: table; }

ul.nav-menu,
div.nav-menu > ul {
  margin: 0;
  padding: 0 40px 0 0; }

.nav-menu li {
  display: inline-block;
  position: relative; }

.nav-menu li a {
  color: #fff;
  display: block;
  font-size: 15px;
  line-height: 1;
  padding: 24px 20px;
  text-decoration: none; }

.nav-menu li:hover > a,
.nav-menu li a:hover,
.nav-menu li:focus > a,
.nav-menu li a:focus {
  background: #3f5e78;
  color: #fff; }

.nav-menu .sub-menu,
.nav-menu .children {
  background: #253746;
  margin-left: 2px;
  padding: 0;
  position: absolute;
  left: -2px;
  z-index: 99999;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); }

.nav-menu .sub-menu ul,
.nav-menu .children ul {
  left: 100%;
  top: 0; }

ul.nav-menu ul a,
.nav-menu ul ul a {
  color: #fff;
  margin: 0;
  width: 200px;
  padding: 15px 20px; }

ul.nav-menu ul a:hover,
.nav-menu ul ul a:hover,
ul.nav-menu ul a:focus,
.nav-menu ul ul a:focus {
  background: #3f5e78; }

ul.nav-menu li:hover > ul,
.nav-menu ul li:hover > ul,
ul.nav-menu .focus > ul,
.nav-menu .focus > ul {
  clip: inherit;
  overflow: inherit;
  height: inherit;
  width: inherit; }

.nav-menu .current_page_item > a,
.nav-menu .current_page_ancestor > a,
.nav-menu .current-menu-item > a,
.nav-menu .current-menu-ancestor > a {
  color: #fff; }

.menu-toggle {
  display: none; }

/* Small menu */
@media (max-width: 800px) {
  /* Small menu */
  .menu-toggle {
    cursor: pointer;
    display: inline-block;
    font: bold 16px/1.3 "Source Sans Pro", Helvetica, sans-serif;
    margin: 0;
    padding: 12px 0 12px 20px; }

  .menu-toggle:after {
    font-size: 12px;
    padding-left: 8px;
    vertical-align: -4px; }

  .menu-toggle {
    background: transparent;
    padding: 1.0em; }

  .menu-toggle:hover {
    background: #3f5e78; }

  .toggled-on .menu-toggle:after {
    vertical-align: 2px; }

  .toggled-on .nav-menu,
  .toggled-on .nav-menu > ul {
    background-color: #253746;
    display: block;
    margin-left: 0;
    padding: 0;
    width: 100%; }

  .toggled-on li,
  .toggled-on .children {
    display: block; }

  .toggled-on .nav-menu li > ul {
    background-color: transparent;
    display: block;
    float: none;
    margin-left: 20px;
    position: relative;
    left: auto;
    top: auto; }

  .toggled-on .nav-menu li > ul a {
    color: #fff;
    width: auto; }

  .toggled-on .nav-menu li:hover > a,
  .toggled-on .nav-menu .children a {
    background-color: transparent;
    color: #fff; }

  .toggled-on .nav-menu li a:hover,
  .toggled-on .nav-menu ul a:hover {
    background-color: #3f5e78;
    color: #fff; }

  ul.nav-menu,
  div.nav-menu > ul {
    display: none; } }
/* At smaller breakpoints: both menus combine */
/* Previous-Next navigation */
.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
  margin: 1.5em 0;
  overflow: hidden;
  font-family: "Hero", Helvetica, Arial, sans-serif;
  color: #929497;
  font-size: 15px; }
  .site-main .comment-navigation a,
  .site-main .paging-navigation a,
  .site-main .post-navigation a {
    color: #808285; }

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%; }

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%; }

/* ShiftNav Plugin */
@media (max-width: 979px) {
  .site-title img {
    display: none; } }
/*--------------------------------------------------------------
6.0 Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar */ }

/*--------------------------------------------------------------
7.0 Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto; }

/*--------------------------------------------------------------
11.0 Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none; }

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
  display: block; }

/*--------------------------------------------------------------
Media
--------------------------------------------------------------*/
.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
  max-width: 100%; }

/*--------------------------------------------------------------
12.1 Captions
--------------------------------------------------------------*/
img {
  line-height: 0; }

.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 0 auto; }

.wp-caption-text {
  text-align: center; }

.wp-caption .wp-caption-text {
  margin: 0.8075em 0; }

.instagram-grid-6 img {
  width: 16.6667%; }

/*--------------------------------------------------------------
9.0 Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em; }

/* Make sure select elements fit in widgets */
.widget select {
  max-width: 100%; }

/* Search widget */
.widget_search .search-submit {
  display: none; }

/*--------------------------------------------------------------
10.1 Posts and pages
--------------------------------------------------------------*/
.byline,
.updated {
  display: none; }

.single .byline,
.group-blog .byline {
  display: inline; }

.page-links {
  clear: both;
  margin: 0 0 1.5em; }

.single-post .content-area {
  margin: 2em auto;
  width: 60%; }
  @media screen and (max-width: 768px) {
    .single-post .content-area {
      width: 90%; } }

.entry-meta {
  font-family: "Hero", Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #929497; }
  .entry-meta a {
    color: #808285; }

.content-list .post, .content-list .type-post, .content-list .type-spawn-projects, .content-list .archive {
  margin: 1.5em; }
  @media screen and (max-width: 991px) {
    .content-list .post, .content-list .type-post, .content-list .type-spawn-projects, .content-list .archive {
      margin: 0; } }
.content-list .entry {
  padding-left: 1.5em; }
  @media screen and (max-width: 991px) {
    .content-list .entry {
      padding-left: 0;
      margin: 0; } }
  .content-list .entry h3 {
    margin-top: 0; }
    @media screen and (max-width: 991px) {
      .content-list .entry h3 {
        margin: 0; } }
.content-list .entry-content {
  margin-top: 0; }
@media screen and (max-width: 991px) {
  .content-list .wide {
    width: 100%; }
  .content-list .block-right {
    float: none; } }

.content-grid h2 {
  margin-top: .25em !important; }
.content-grid a .thumbnail {
  overflow: hidden;
  width: 100%;
  height: 0;
  padding-bottom: 100%; }
  .content-grid a .thumbnail img {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
.content-grid a:hover {
  color: #e27121; }
  .content-grid a:hover img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); }

.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content .awards .block-right, .awards .entry-content .block-right, .entry-content h5, .entry-content h6 {
  margin: 0 0 0.75em; }
.entry-content img.wp-post-image {
  margin-right: 1em;
  float: left;
  clear: left;
  width: 43%;
  max-width: 290px; }
.entry-content p {
  margin: 0 0 1.5em; }

/*--------------------------------------------------------------
10.3 Comments
--------------------------------------------------------------*/
.comments-area {
  border-top: 1px solid #ddd;
  margin-top: 3em;
  padding-top: 2.5em; }

.comment-content a {
  word-wrap: break-word; }

/*--------------------------------------------------------------
12.2 Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }

.gallery-columns-2 .gallery-item {
  max-width: 50%; }

.gallery-columns-3 .gallery-item {
  max-width: 33.33%; }

.gallery-columns-4 .gallery-item {
  max-width: 25%; }

.gallery-columns-5 .gallery-item {
  max-width: 20%; }

.gallery-columns-6 .gallery-item {
  max-width: 16.66%; }

.gallery-columns-7 .gallery-item {
  max-width: 14.28%; }

.gallery-columns-8 .gallery-item {
  max-width: 12.5%; }

.gallery-columns-9 .gallery-item {
  max-width: 11.11%; }

.site-header {
  background-color: #253746;
  color: white;
  font-family: "Hero", Helvetica, Arial, sans-serif;
  position: relative;
  overflow: hidden; }
  .home .site-header {
    background-color: transparent;
    height: 550px; }
  .site-header .site-branding {
    float: left;
    padding: 0.5em 1em;
    position: relative;
    z-index: 501; }
    .site-header .site-branding h1 {
      margin: 0;
      padding: 0;
      line-height: 48px; }
    .site-header .site-branding img {
      height: 36px;
      vertical-align: middle; }
  .site-header .page-header {
    margin-top: 50px; }
  .site-header .hero-menu {
    height: 64px;
    text-transform: uppercase; }
    .site-header .hero-menu li {
      line-height: 1; }
    .site-header .hero-menu a {
      display: block;
      padding: 1.6em 1.25em; }
  .site-header .page-header .hero-menu {
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0;
    display: inline-block;
    margin: 0 auto;
    top: auto !important; }
    .site-header .page-header .hero-menu li {
      float: none;
      display: inline-block; }
  @media all and (max-width: 992px) {
    .site-header .page-header .hero-menu {
      display: none !important; } }
  .site-header h1 {
    font-size: 1.2em; }
  .home .site-header .hero-menu.header-menu {
    display: none; }
  .site-header .site-title img {
    min-width: 106px; }
  .site-header a {
    color: white; }
  @media all and (min-width: 992px) and (max-width: 1030px) {
    .site-header ul.hero-menu.cloned {
      right: 0; }
    .site-header .hero-menu a {
      padding: 1.6em 1em; } }
  @media all and (max-width: 992px) {
    .home .site-header {
      height: auto; }
    .site-header ul.hero-menu.cloned {
      display: none !important; } }

@media (max-width: 979px) {
  .site-header {
    background: none; }

  .page-header {
    margin-top: 0px; } }
.home .row, .page-template-front-page-denver .row {
  width: 100%; }
.home .hero-title, .page-template-front-page-denver .hero-title {
  position: absolute;
  right: 0;
  height: 100%;
  width: 230px;
  color: white;
  font-size: .8em;
  margin-top: 18px;
  margin-right: 25px; }
  .home .hero-title span, .page-template-front-page-denver .hero-title span {
    display: block;
    width: 100%; }
  .home .hero-title .hero-title-carrot, .page-template-front-page-denver .hero-title .hero-title-carrot {
    position: absolute;
    left: -15px;
    top: 0;
    margin-top: 3px;
    display: inline-block;
    width: 9px;
    height: 5px;
    background-image: url(../../images/hero-title-carrot.png); }
.home .page-header, .page-template-front-page-denver .page-header {
  background-size: cover;
  height: 500px;
  margin-top: 64px; }
  @media screen and (max-width: 991px) {
    .home .page-header, .page-template-front-page-denver .page-header {
      height: 200px; } }
  .home .page-header .rev_slider_wrapper, .page-template-front-page-denver .page-header .rev_slider_wrapper {
    position: absolute;
    z-index: 0; }
  .home .page-header h1, .page-template-front-page-denver .page-header h1 {
    font-size: 18em;
    width: 100%;
    position: absolute;
    left: 50%;
    margin-left: -50%;
    padding: .1em 0;
    z-index: 2;
    pointer-events: none; }
    @media screen and (max-width: 991px) {
      .home .page-header h1, .page-template-front-page-denver .page-header h1 {
        font-size: 8em; } }
  .home .page-header .menu-main-menu-container, .page-template-front-page-denver .page-header .menu-main-menu-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    margin-left: -50%; }
.home .work, .page-template-front-page-denver .work {
  height: 300px;
  overflow: hidden;
  position: relative; }
  .home .work h2, .page-template-front-page-denver .work h2 {
    color: #e27121; }
  .home .work h3, .page-template-front-page-denver .work h3 {
    margin-bottom: 0; }
    .home .work h3 a, .page-template-front-page-denver .work h3 a {
      text-decoration: none; }
      .home .work h3 a:hover, .page-template-front-page-denver .work h3 a:hover {
        color: #e27121; }
  .home .work h5 a, .page-template-front-page-denver .work h5 a {
    color: #e27121;
    text-decoration: none; }
    .home .work h5 a:hover, .page-template-front-page-denver .work h5 a:hover {
      color: #253746; }
  .home .work .client, .page-template-front-page-denver .work .client {
    font-size: 15px;
    font-style: italic; }
  .home .work .more, .page-template-front-page-denver .work .more {
    color: #e27121; }
  .home .work p, .page-template-front-page-denver .work p {
    margin-bottom: 1em; }
  .home .work .block-right > .block-left, .page-template-front-page-denver .work .block-right > .block-left {
    background: url(../../images/contact-border.png);
    background-image: url(../../images/contact-border.svg), none;
    background-repeat: no-repeat;
    background-position: 220px 50%;
    width: 40%; }
    .home .work .block-right > .block-left h2, .page-template-front-page-denver .work .block-right > .block-left h2 {
      margin-top: 59%;
      font-size: 21px;
      text-align: center;
      padding: 0 25px; }
  .home .work .block-right .block-right, .page-template-front-page-denver .work .block-right .block-right {
    padding: 50px 20px 20px;
    width: 60%; }
  .home .work .block-right .block-left,
  .home .work .block-right .block-right, .page-template-front-page-denver .work .block-right .block-left,
  .page-template-front-page-denver .work .block-right .block-right {
    height: 300px; }
  .home .work .featured-image, .page-template-front-page-denver .work .featured-image {
    height: 320px; }
    .home .work .featured-image:after, .page-template-front-page-denver .work .featured-image:after {
      background-color: #fff; }
  .home .work .featured-work, .page-template-front-page-denver .work .featured-work {
    width: 100%; }
  .home .work .rslides_tabs, .page-template-front-page-denver .work .rslides_tabs {
    position: absolute;
    right: 445px;
    bottom: 30px; }
    .home .work .rslides_tabs li, .page-template-front-page-denver .work .rslides_tabs li {
      background: #eee;
      width: 15px;
      height: 15px;
      display: inline-block;
      border-radius: 50%;
      margin: 0 5px;
      overflow: hidden;
      text-indent: -9999px; }
      .home .work .rslides_tabs li.rslides_here, .page-template-front-page-denver .work .rslides_tabs li.rslides_here {
        background: #e27121; }
.home .services, .page-template-front-page-denver .services {
  padding: 1em;
  background-color: #253746;
  color: white; }
  .home .services a, .page-template-front-page-denver .services a {
    color: white;
    text-decoration: none; }
    .home .services a:hover, .page-template-front-page-denver .services a:hover {
      color: #e27121; }
  .home .services h2, .page-template-front-page-denver .services h2 {
    background-color: #253746;
    border: 1px dashed white;
    margin-left: 2.75em;
    padding-top: 3em;
    padding-left: 1.25em; }
  .home .services .services-list, .page-template-front-page-denver .services .services-list {
    padding-top: 1.5em;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    min-height: 125px; }
    .home .services .services-list li, .page-template-front-page-denver .services .services-list li {
      margin-left: 1em;
      margin-bottom: 10px; }
.home .home-gallery, .page-template-front-page-denver .home-gallery {
  background-color: #253746;
  max-height: none; }
  .home .home-gallery .block-left,
  .home .home-gallery .block-right, .page-template-front-page-denver .home-gallery .block-left,
  .page-template-front-page-denver .home-gallery .block-right {
    background-color: #253746;
    line-height: 0; }
.home .career-header, .page-template-front-page-denver .career-header {
  padding: 1em 1.5em; }
.home .careers, .page-template-front-page-denver .careers {
  padding: 1em;
  background-color: #253746;
  color: white; }
  .home .careers a, .page-template-front-page-denver .careers a {
    color: white;
    text-decoration: none; }
    .home .careers a:hover, .page-template-front-page-denver .careers a:hover {
      color: #e27121; }
  .home .careers h2, .page-template-front-page-denver .careers h2 {
    font-size: 1.2em;
    background-color: #000;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    padding: 2em 0;
    margin: 0px auto;
    text-align: center; }
    .home .careers h2 img, .page-template-front-page-denver .careers h2 img {
      width: 85%;
      margin-left: 5%;
      margin-top: 10%;
      margin-bottom: 5%; }
  .home .careers h4, .home .careers .awards .block-right, .awards .home .careers .block-right, .page-template-front-page-denver .careers h4, .page-template-front-page-denver .careers .awards .block-right, .awards .page-template-front-page-denver .careers .block-right {
    margin: .75em 0 .5em; }
  .home .careers p, .page-template-front-page-denver .careers p {
    margin: 1em 2em 1em 0; }

.contact {
  padding: 1em;
  background: #f0f0f1; }
  .contact .block-left {
    line-height: 1; }
  .contact .map:after {
    background-color: #f0f0f1; }
  .contact .block-right > .block-right {
    padding-top: 1.5em; }
  .contact h3 {
    font-size: 1.2em;
    padding-top: 1em;
    margin: 0; }
  .contact p {
    margin: .1em 0 .5em 0;
    line-height: 1.2; }
  .contact .contact-header {
    padding: 2em 1.5em; }
    .contact .contact-header h2 {
      font-size: 1.2em;
      color: #fff;
      background-color: #ffb652;
      border-radius: 50%;
      width: 150px;
      height: 150px;
      padding: 3em 0;
      margin: 0px auto;
      text-align: center; }

.posts .posts-header {
  padding: 5em 1.5em;
  background-color: #ffb652;
  color: white;
  height: 335px; }
  .posts .posts-header:after {
    background-color: #fff; }
  .posts .posts-header h2 {
    background-color: #e27121;
    padding-top: 3em; }
  .posts .posts-header h5 {
    margin-top: 3.5em;
    text-align: center; }
    .posts .posts-header h5:hover {
      color: #253746; }
.posts .entry-title {
  margin-bottom: 0; }
.posts .content-grid {
  padding: 1.5em 1.5em 0 1.5em; }
  .posts .content-grid h2 {
    font-size: .9em;
    text-transform: lowercase; }
@media screen and (max-width: 991px) {
  .home .posts, .page-template-front-page-denver .posts {
    display: none; } }

.home-title {
  background: #ffb652;
  text-align: center; }
  .home-title h2 {
    line-height: 1.5em;
    color: #fff; }

.home-posts .entry-header h2 {
  margin: 0 0 .25em 0;
  font-size: 1em; }
.home-posts .entry-header {
  height: 95px;
  color: white;
  background-color: #253746;
  padding: .5em;
  margin-top: -8px;
  text-align: center; }

.about p {
  margin-bottom: 1em; }
.about .about-link {
  color: #e27121;
  font-family: "Hero", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase; }
  .about .about-link:hover {
    color: #253746; }
.about .block-right {
  line-height: 0; }

.home-cat {
  color: white;
  padding: 3em 9em;
  font-family: "Garamond", Georgia, serif;
  text-align: left;
  background: url(../../images/home-outdoor.jpg);
  background-position: center;
  background-size: cover;
  max-height: 350px; }
  .home-cat p {
    width: 50%;
    font-size: 1em;
    line-height: 1.5;
    font-weight: 300; }
  .home-cat a {
    color: white;
    text-transform: uppercase;
    font-family: "Hero", Helvetica, Arial, sans-serif;
    text-decoration: none; }
    .home-cat a:hover {
      color: #e27121; }

.si-feature {
  margin: 0 auto;
  padding: 20px; }
  .si-feature h3 {
    margin: 0px 100px 15px 100px; }
    @media all and (max-width: 580px) {
      .si-feature h3 {
        margin: 10px; } }
  .si-feature p {
    margin: 0 100px 15px 100px;
    padding-right: 125px; }
    @media all and (max-width: 580px) {
      .si-feature p {
        margin: 10px;
        padding: 10px; } }
  .si-feature a:hover {
    color: #fff;
    text-decoration: underline; }

/* Media Queries - 992px
---------------------------------------------*/
@media all and (max-width: 992px) {
  .co-logo {
    display: none; }

  .about .block-right img {
    width: 100%; }

  .home .work, .page-template-front-page-denver .work
  .home .work .featured-image, .page-template-front-page-denver .home .work .featured-image {
    height: auto; }

  .home .work .block-right > .block-left,
  .page-template-front-page-denver .work .block-right > .block-left {
    background-position: 300px 50%; }
    .home .work .block-right > .block-left h2,
    .page-template-front-page-denver .work .block-right > .block-left h2 {
      margin-top: 36.5%; }

  .home .work .rslides_tabs,
  .page-template-front-page-denver .work .rslides_tabs {
    right: auto;
    left: 110px; }

  .home .row,
  .page-template-front-page-denver .row {
    max-height: none; }

  .home .home-cat p,
  .page-template-front-page-denver .home-cat p {
    width: 100%; }

  .home .home-gallery img,
  .page-template-front-page-denver .home-gallery img {
    width: 50%; }
  .home .home-gallery .half,
  .page-template-front-page-denver .home-gallery .half {
    height: auto; }
  .home .home-gallery .large img,
  .page-template-front-page-denver .home-gallery .large img {
    width: 100%; }

  .home .contact .map iframe, .page-template-front-page-denver .contact .map iframe {
    width: 100%; }
  .home .contact h2, .page-template-front-page-denver .contact h2 {
    margin-top: 30.65%; }
  .home .contact .block-right .block-left,
  .home .contact .block-right .block-right, .page-template-front-page-denver .contact .block-right .block-left,
  .page-template-front-page-denver .contact .block-right .block-right {
    width: 50%; } }
@media all and (max-width: 885px) {
  .home .careers, .home .services, .home .contact,
  .page-template-front-page-denver .careers, .page-template-front-page-denver .services, .page-template-front-page-denver .contact {
    text-align: center; }
    .home .careers p, .home .services p, .home .contact p,
    .page-template-front-page-denver .careers p, .page-template-front-page-denver .services p, .page-template-front-page-denver .contact p {
      margin: 0; }
    .home .careers h2, .home .services h2, .home .contact h2,
    .page-template-front-page-denver .careers h2, .page-template-front-page-denver .services h2, .page-template-front-page-denver .contact h2 {
      float: none;
      margin: 0 auto 20px; }
    .home .careers .block-right, .home .services .block-right, .home .contact .block-right,
    .page-template-front-page-denver .careers .block-right, .page-template-front-page-denver .services .block-right, .page-template-front-page-denver .contact .block-right {
      width: 100%; }

  .home .services
  .page-template-front-page-denver .services {
    text-align: left; } }
@media all and (max-width: 782px) {
  .featured-work .block-right .block-left {
    display: none; }
  .featured-work .block-right .block-right {
    width: 100% !important;
    height: 340px; }

  .home .work .rslides_tabs {
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center; }

  .home .contact .narrow {
    width: 100%; }
  .home .contact .block-right {
    width: 100%;
    text-align: center;
    padding: 0 0 30px; }

  .careers .narrow {
    width: 100%; } }
.home .header-menu, .home .hero-menu, .home .hero-title, .page-template-front-page-denver .header-menu, .page-template-front-page-denver .hero-menu, .page-template-front-page-denver .hero-title {
  display: none; }

@media all and (min-width: 992px) {
  .home-cat {
    padding: 1.5em; }

  body.home .header-menu, body.page-template-front-page-denver .header-menu {
    display: none; }
  body.home .hero-title, body.page-template-front-page-denver .hero-title {
    display: block; }
  body.home.hero-scroll-hidden .hero-menu, body.home.hero-scroll-hidden .hero-title, body.page-template-front-page-denver.hero-scroll-hidden .hero-menu, body.page-template-front-page-denver.hero-scroll-hidden .hero-title {
    display: none !important; }
  body.home.hero-scroll-hidden .header-menu, body.page-template-front-page-denver.hero-scroll-hidden .header-menu {
    display: block !important; } }
.addy {
  padding-top: 25px; }

.cta-home-contact {
  background: #f0f0f1;
  padding-bottom: 25px; }

.page-template-front-page-denver .page-header {
  background: none !important; }
.page-template-front-page-denver .address {
  display: none; }

@media (max-width: 979px) {
  .site-header {
    background: none; }

  .home .page-header,
  .page-template-front-page-denver .page-header {
    margin-top: 0px; } }
.content-bg {
  background: #253746;
  color: #fff;
  padding: 15px; }

.home-content {
  padding: 25px; }
  .home-content p {
    margin: 0 25px;
    padding-bottom: 25px; }

.content {
  padding-bottom: 30px; }

.home-cta {
  text-align: center; }
  .home-cta a {
    background: #FFB652 none repeat scroll 0% 0%;
    padding: 5px;
    width: 150px;
    display: block;
    font-family: "Hero",Helvetica,Arial,sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    color: #FFF;
    text-decoration: none; }
    .home-cta a:hover {
      background: #E27121 none repeat scroll 0% 0%; }

.tp-caption a.slider-link-white {
  font-family: "Hero",Helvetica,Arial,sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff; }
  .tp-caption a.slider-link-white:hover {
    color: #fff; }

.co-logo img {
  margin-top: 75px; }

.site-footer {
  max-width: 1200px;
  margin: 0 auto;
  color: white;
  background: #253746;
  border-bottom: 80px solid #ffb652;
  padding: 1.5em; }
  .site-footer.row {
    min-height: 100%;
    max-height: none; }
  @media screen and (max-width: 991px) {
    .site-footer {
      border-bottom: 25px solid #ffb652; } }
  .site-footer a {
    color: #fff; }
  .site-footer h4, .site-footer .awards .block-right, .awards .site-footer .block-right {
    margin: 0; }
  .site-footer .social {
    min-height: 225px; }
    .site-footer .social .social-link {
      display: inline-block;
      margin-top: .5em;
      margin-right: .75em;
      height: 31px;
      width: 31px; }
    .site-footer .social .fb {
      background: url("../../images/fb.png");
      background-image: url("../../images/fb.svg"), none;
      background-repeat: no-repeat; }
    .site-footer .social .tw {
      background: url("../../images/twitter.png");
      background-image: url("../../images/twitter.svg"), none;
      background-repeat: no-repeat;
      background-position: bottom center; }
    .site-footer .social .link {
      background: url("../../images/linkedin.png");
      background-image: url("../../images/linkedin.svg"), none;
      background-repeat: no-repeat; }
    .site-footer .social .insta {
      background: url("../../images/insta.png");
      background-image: url("../../images/insta.svg"), none;
      background-repeat: no-repeat; }
    .site-footer .social a {
      text-decoration: none; }
  .site-footer a.footer-thumbs {
    color: white;
    display: inline-block;
    font-family: "Hero", Helvetica, Arial, sans-serif;
    width: 100px;
    height: 100px;
    background-color: #375167;
    margin: 5px;
    vertical-align: middle;
    font-size: .8em;
    text-decoration: none; }
    .site-footer a.footer-thumbs span {
      display: inline-block;
      padding: 10px; }
    .site-footer a.footer-thumbs .thumbnail {
      overflow: hidden;
      width: 100%;
      height: 0;
      padding-bottom: 100%; }
      .site-footer a.footer-thumbs .thumbnail img {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
    .site-footer a.footer-thumbs:hover {
      color: #e27121; }
      .site-footer a.footer-thumbs:hover img {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2); }
  .site-footer .attachment-square-small {
    padding: 0; }
  .site-footer .block-left h6 {
    margin: 0 0 0 0; }

.copy {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 1em;
  background: #e27121;
  color: #d1d2d3;
  font-family: "Hero", Helvetica, Arial, sans-serif;
  font-size: .8em; }
  .copy a {
    color: #d1d2d3;
    text-decoration: none; }

@media all and (max-width: 992px) {
  .site-footer .block-left {
    width: 35%; }
  .site-footer .block-right {
    width: 65%; }
  .site-footer .social {
    min-height: 200px; } }
@media all and (max-width: 768px) {
  .site-footer .block-left,
  .site-footer .block-right {
    width: 100%; }
  .site-footer .block-left {
    margin-bottom: 60px; }
  .site-footer .social {
    min-height: 100px; } }
.blog .site-main {
  padding: 1.5em 3em; }
  @media screen and (max-width: 991px) {
    .blog .site-main {
      padding: 1em; } }
.blog .project-filter {
  margin: 1em 1.5em; }
.blog a:hover {
  color: #e27121; }

.read-more,
.read-more:visited {
  text-transform: uppercase;
  font-family: "Hero", Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #e27121; }
  .read-more:hover,
  .read-more:visited:hover {
    color: #253746 !important; }

.blog .page-header, .single .page-header, .page .page-header {
  background: url(../../images/header-blog.jpg); }

.single .entry-footer {
  margin-bottom: 1.5em; }

.single-post nav.navigation .nav-next, .single-post nav.navigation .nav-previous {
  width: 112px;
  height: 25px;
  background-size: 100%;
  margin-bottom: 1em; }
  .single-post nav.navigation .nav-next a, .single-post nav.navigation .nav-previous a {
    display: inline-block;
    height: 100%;
    width: 100%; }
    .single-post nav.navigation .nav-next a span, .single-post nav.navigation .nav-previous a span {
      display: none; }
.single-post nav.navigation .nav-next {
  background-image: url("../../images/nav-next.jpg");
  position: relative;
  right: 0px; }
.single-post nav.navigation .nav-previous {
  background-image: url("../../images/nav-previous.jpg");
  position: relative;
  left: 0px; }

.see-wrap {
  margin: 15px; }

.see-all {
  float: right;
  background-size: 100%;
  margin-bottom: 1em;
  text-indent: -9999px; }
  .see-all a {
    background-image: url("../../images/see-all-a.png");
    display: block;
    width: 112px;
    height: 25px; }
    .see-all a:hover {
      background-image: url("../../images/see-all-hov.png");
      width: 112px;
      height: 25px; }

@media (min-width: 988px) {
  .single-post nav.navigation {
    position: absolute;
    width: 100%;
    left: 0; }
    .single-post nav.navigation .nav-next, .single-post nav.navigation .nav-previous {
      margin: 0 60px; } }
.divider {
  height: 60px;
  line-height: 60px;
  padding: 1em;
  background: #e27121;
  color: white; }
  .divider h3 {
    margin: 0; }

.archive .page-header {
  background: url(../../images/header-category.jpg); }

.archive.category .taxonomy-description {
  padding-right: 2em; }
.archive.category .post-list {
  padding: 1.5em 3em; }
.archive.category .posts {
  background-color: #f0f0f1; }
  .archive.category .posts .entry-header h2 {
    font-size: .95em; }
.archive.category .page-header {
  background: url(../../images/header-category.jpg); }
.archive.category .content-grid {
  padding: 1em; }
  .archive.category .content-grid a {
    line-height: 0;
    height: 0;
    text-decoration: none; }
  .archive.category .content-grid img {
    line-height: 0; }
.archive.category .category-header .featured-image {
  line-height: 0; }
  .archive.category .category-header .featured-image:after {
    background-color: #fff; }
.archive.category .category-title h3 {
  float: left;
  margin-left: 24px;
  padding: 0 8px;
  position: relative;
  white-space: nowrap; }
  .archive.category .category-title h3:before {
    background-image: url(../../images/four-burst-left.png);
    content: "";
    display: block;
    height: 60px;
    left: -42px;
    position: absolute;
    top: -18px;
    width: 42px; }
  .archive.category .category-title h3:after {
    background-image: url(../../images/four-burst-right.png);
    content: "";
    height: 60px;
    display: block;
    width: 44px;
    right: -42px;
    position: absolute;
    top: -18px; }
.archive.category article {
  text-align: center; }
.archive.category .entry-header {
  padding: .5em;
  margin-top: -8px;
  text-align: center; }
  .archive.category .entry-header h2 {
    margin: 0 0 .25em 0;
    font-size: 1em; }
  .archive.category .entry-header h3 {
    font-family: "Garamond", Georgia, serif;
    font-style: italic;
    text-transform: none;
    margin-top: 0;
    font-size: 1em; }
.archive.category .posts-header {
  padding: 5em 1.5em;
  background-color: #ffb652;
  color: white;
  height: 340px; }
  .archive.category .posts-header h2 {
    background-color: #e27121;
    padding: 0;
    padding-top: 2.55em; }
  .archive.category .posts-header h5 {
    margin-top: 3.5em; }
  .archive.category .posts-header:after {
    background-color: #f0f0f1; }
.archive.category .content-grid {
  padding: 1.5em 1.5em 0 1.5em; }
  .archive.category .content-grid h3 {
    font-size: .9em;
    text-transform: lowercase; }
.archive.category .brand-list {
  padding: 3em;
  text-align: center; }
  .archive.category .brand-list h4, .archive.category .brand-list .awards .block-right, .awards .archive.category .brand-list .block-right {
    color: #e27121;
    text-align: center; }
  .archive.category .brand-list .thumbs img {
    margin: 1.5em; }

@media all and (max-width: 1060px) {
  #portfolio-content img {
    height: auto;
    width: 100%; }
  #portfolio-content .narrow {
    width: 33.33333%; } }
@media all and (max-width: 812px) {
  #portfolio-content .narrow,
  .archive.category .content-area .narrow {
    width: 50%; } }
@media all and (max-width: 750px) {
  .work-list .narrow {
    width: 100%;
    margin: 1em 0; } }
@media all and (max-width: 680px) {
  .project-filter .filter-list {
    width: 100% !important;
    float: none !important;
    margin: 0.5em 0 2em; } }
@media all and (max-width: 550px) {
  #portfolio-content .narrow,
  .archive.category .content-area .narrow {
    width: 100%; }

  .archive.category .posts-header:after {
    display: none; }

  .archive.category .content-area .narrow {
    margin-top: 1em;
    margin-bottom: 0; } }
.page-template-template-services-php .page-header, .page-template-template-services-strategy-php .page-header,
.page-template-template-services-creative-php .page-header, .page-template-template-services-digital-php .page-header, .page-template-template-services-media-php .page-header, .page-template-template-services-production-php .page-header {
  background: url(../../images/header-services.jpg); }
.page-template-template-services-php .site-footer, .page-template-template-services-strategy-php .site-footer,
.page-template-template-services-creative-php .site-footer, .page-template-template-services-digital-php .site-footer, .page-template-template-services-media-php .site-footer, .page-template-template-services-production-php .site-footer {
  margin-top: 30px; }
.page-template-template-services-php .posts, .page-template-template-services-strategy-php .posts,
.page-template-template-services-creative-php .posts, .page-template-template-services-digital-php .posts, .page-template-template-services-media-php .posts, .page-template-template-services-production-php .posts {
  background-color: #F0F0F1; }

.page-template-template-services-strategy-php ul#icon-list li.icon-strategy a {
  background-color: #253746;
  background-position: 35px -165px;
  color: #fff; }

.page-template-template-services-creative-php ul#icon-list li.icon-creative a {
  background-color: #253746;
  background-position: -110px -165px;
  color: #fff; }

.page-template-template-services-digital-php ul#icon-list li.icon-digital a {
  background-color: #253746;
  background-position: -265px -165px;
  color: #fff; }

.page-template-template-services-media-php ul#icon-list li.icon-media a {
  background-color: #253746;
  background-position: -405px -165px;
  color: #fff; }

.page-template-template-services-production-php ul#icon-list li.icon-production a {
  background-color: #253746;
  background-position: -405px -165px;
  color: #fff; }

.home .top-icons, .page-template-front-page-denver .top-icons {
  background: #253746; }
  .home .top-icons ul#icon-list li a, .page-template-front-page-denver .top-icons ul#icon-list li a {
    color: #fff; }
  .home .top-icons ul#icon-list .icon-strategy a, .page-template-front-page-denver .top-icons ul#icon-list .icon-strategy a {
    background-position: 35px -165px; }
  .home .top-icons ul#icon-list .icon-creative a, .page-template-front-page-denver .top-icons ul#icon-list .icon-creative a {
    background-position: -110px -165px; }
  .home .top-icons ul#icon-list .icon-digital a, .page-template-front-page-denver .top-icons ul#icon-list .icon-digital a {
    background-position: -265px -165px; }
  .home .top-icons ul#icon-list .icon-media a, .page-template-front-page-denver .top-icons ul#icon-list .icon-media a {
    background-position: -405px -165px; }
  .home .top-icons ul#icon-list .icon-production a, .page-template-front-page-denver .top-icons ul#icon-list .icon-production a {
    background-position: -405px -165px; }

.top-icons {
  background: #f0f0f1; }
  .top-icons .icon-table {
    display: table;
    /* Allow the centering to work */
    margin: 0 auto; }
  .top-icons ul#icon-list {
    font-family: "Hero",Helvetica,Arial,sans-serif;
    letter-spacing: .08em;
    font-size: 18px;
    list-style: none;
    margin: 0px; }
    .top-icons ul#icon-list li {
      float: left;
      padding: 0;
      margin: 0px; }
      .top-icons ul#icon-list li a {
        background: url("../../images/icon-services-5.png") no-repeat transparent;
        color: #333;
        text-transform: uppercase;
        display: inline-block;
        line-height: 100px;
        padding: 80px 10px;
        height: 150px;
        width: 170px;
        text-align: center; }
        .top-icons ul#icon-list li a:hover {
          background-color: #e27121;
          color: #fff; }
    .top-icons ul#icon-list .icon-strategy a {
      background-position: 35px 18px; }
      .top-icons ul#icon-list .icon-strategy a:hover, .top-icons ul#icon-list .icon-strategy a:visited {
        background-position: 35px -165px; }
    .top-icons ul#icon-list .icon-creative a {
      background-position: -110px 18px; }
      .top-icons ul#icon-list .icon-creative a:hover {
        background-position: -110px -165px; }
    .top-icons ul#icon-list .icon-digital a {
      background-position: -265px 18px; }
      .top-icons ul#icon-list .icon-digital a:hover {
        background-position: -265px -165px; }
    .top-icons ul#icon-list .icon-media a {
      background-position: -405px 18px; }
      .top-icons ul#icon-list .icon-media a:hover {
        background-position: -405px -165px; }
    .top-icons ul#icon-list .icon-production a {
      background-position: -550px 18px; }
      .top-icons ul#icon-list .icon-production a:hover {
        background-position: -550px -165px; }

.page .services-sub-text {
  margin-top: 30px;
  margin-bottom: 0;
  padding: 1em 3.5em 0 8em; }
  .page .services-sub-text:before {
    top: 0em; }
  .page .services-sub-text h3, .page .services-sub-text h4, .page .services-sub-text .awards .block-right, .awards .page .services-sub-text .block-right {
    line-height: 1em; }
  .page .services-sub-text h3 {
    font-size: 36px; }
  .page .services-sub-text h4, .page .services-sub-text .awards .block-right, .awards .page .services-sub-text .block-right {
    color: #e27121; }
.page .category-header .featured-image {
  line-height: 0; }
  .page .category-header .featured-image:after {
    background-color: #fff; }

.services-open {
  margin: 1.5em auto;
  text-align: center;
  width: 60%; }

.services-title {
  overflow: hidden; }
  .services-title h2 {
    float: left;
    margin-left: 76px;
    padding: 0 8px;
    position: relative;
    font-size: 20px;
    text-align: center;
    width: 250px;
    display: block;
    vertical-align: middle; }
    .services-title h2:before {
      background-image: url(../../images/four-burst-left.png);
      content: "";
      display: block;
      height: 70px;
      left: -42px;
      position: absolute;
      top: -18px;
      width: 42px; }
    .services-title h2:after {
      background-image: url(../../images/four-burst-right.png);
      content: "";
      height: 70px;
      display: block;
      width: 44px;
      right: -42px;
      position: absolute;
      top: -18px; }

.service-wrap {
  width: 100%;
  margin: 0 auto; }

.service {
  padding-top: 2em;
  width: 33.3%;
  float: left;
  text-align: center; }
  .service .service-details {
    padding: 0 3em; }
    .service .service-details img {
      height: 70px;
      width: 70px;
      margin-bottom: 1.25em; }
  .service .service-footer {
    min-height: 175px; }
  .service .service-logo {
    height: 110px; }
    .service .service-logo.social {
      background: url("../../images/service-social.png");
      background-image: url("../../images/service-social.svg"), none;
      background-repeat: no-repeat;
      background-position: top center; }
    .service .service-logo.analytics {
      background: url("../../images/service-analytics.png");
      background-image: url("../../images/service-analytics.svg"), none;
      background-repeat: no-repeat;
      background-position: top center; }
    .service .service-logo.branding {
      background: url("../../images/service-branding.png");
      background-image: url("../../images/service-branding.svg"), none;
      background-repeat: no-repeat;
      background-position: top center; }
    .service .service-logo.broadcast {
      background: url("../../images/service-broadcast.png");
      background-image: url("../../images/service-broadcast.svg"), none;
      background-repeat: no-repeat;
      background-position: top center; }
    .service .service-logo.design {
      background: url("../../images/service-design.png");
      background-image: url("../../images/service-design.svg"), none;
      background-repeat: no-repeat;
      background-position: top center; }
    .service .service-logo.digital {
      background: url("../../images/service-digital.png");
      background-image: url("../../images/service-digital.svg"), none;
      background-repeat: no-repeat;
      background-position: top center; }
    .service .service-logo.media {
      background: url("../../images/service-media.png");
      background-image: url("../../images/service-media.svg"), none;
      background-repeat: no-repeat;
      background-position: top center; }
    .service .service-logo.planning {
      background: url("../../images/service-planning.png");
      background-image: url("../../images/service-planning.svg"), none;
      background-repeat: no-repeat;
      background-position: top center; }
    .service .service-logo.search {
      background: url("../../images/service-search.png");
      background-image: url("../../images/service-search.svg"), none;
      background-repeat: no-repeat;
      background-position: top center; }
    .service .service-logo.strategy {
      background: url("../../images/service-search.png");
      background-image: url("../../images/service-search.svg"), none;
      background-repeat: no-repeat;
      background-position: top center; }
    .service .service-logo.research {
      background: url("../../images/service-search.png");
      background-image: url("../../images/service-search.svg"), none;
      background-repeat: no-repeat;
      background-position: top center; }
    .service .service-logo.consumer {
      background: url("../../images/service-search.png");
      background-image: url("../../images/service-search.svg"), none;
      background-repeat: no-repeat;
      background-position: top center; }
    .service .service-logo.message {
      background: url("../../images/service-search.png");
      background-image: url("../../images/service-search.svg"), none;
      background-repeat: no-repeat;
      background-position: top center; }
    .service .service-logo.communications {
      background: url("../../images/service-search.png");
      background-image: url("../../images/service-search.svg"), none;
      background-repeat: no-repeat;
      background-position: top center; }
  .service .service-description {
    height: 280px; }
  .service h5,
  .service .sign-up {
    color: #e27121;
    font-size: .9em;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Hero", Helvetica, Arial, sans-serif;
    margin-bottom: 1em; }

.services-link {
  color: #e27121;
  text-decoration: none; }

.service-cta {
  text-align: center;
  margin: 25px auto 10px auto; }
  .service-cta h3 {
    color: #e27121; }
  .service-cta a {
    background: #FFB652 none repeat scroll 0% 0%;
    padding: 5px;
    width: 250px;
    display: block;
    font-family: "Hero",Helvetica,Arial,sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    color: #FFF;
    text-decoration: none; }
    .service-cta a:hover {
      background: #E27121 none repeat scroll 0% 0%; }

.posts .posts-header h2.work-in {
  padding: 2.55em 0px 0px; }

.work-serv-proj {
  background-color: #F0F0F1; }
  .work-serv-proj .posts-header::after {
    background-color: #F0F0F1; }
  .work-serv-proj .entry-header {
    padding: .5em;
    margin-top: -8px;
    text-align: center; }
    .work-serv-proj .entry-header h2 {
      margin: 0 0 .25em 0;
      font-size: 1em;
      text-transform: uppercase; }
  .work-serv-proj .content-grid h3 {
    font-size: 0.9em;
    text-transform: lowercase; }
  .work-serv-proj .entry-header h3 {
    font-family: "Garamond",Georgia,serif;
    font-style: italic;
    margin-top: 0px; }

@media all and (max-width: 1164px) {
  .service .service-description {
    height: 490px; } }
@media all and (max-width: 945px) {
  .service {
    width: 50%; }
    .service .service-description {
      height: 340px; }
    .service .service-details {
      padding: 0 0.75em; } }
@media all and (max-width: 650px) {
  .service {
    width: 100%; }
    .service .service-description {
      height: auto;
      margin-bottom: 20px; }
    .service .service-footer {
      min-height: 0; } }
.category .service-cta {
  margin-bottom: 30px; }

/*--------------------------------------------------------------
10.3 Comments
--------------------------------------------------------------*/
.page-contact .page-header {
  background: url(../../images/header-contact.jpg); }
.page-contact .form {
  padding: 1em 2em; }
  .page-contact .form input {
    width: 100%; }
  .page-contact .form h3 {
    margin-top: 0;
    color: #e27121; }
.page-contact .block-left {
  line-height: 0; }

.contacts {
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-top: 2px; }

.contact-block {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0px;
  -moz-box-flex: 1;
  -moz-flex: 1 0 0px;
  -ms-flex: 1 0 0px;
  flex: 1 0 0px;
  min-width: 20%;
  background-color: #f0f0f1;
  margin: 2px;
  padding: 1em; }
  .contact-block h3 {
    margin-top: 0;
    color: #e27121; }
  .contact-block p {
    margin-top: 0; }
  .contact-block .name {
    margin-bottom: 0; }
  .contact-block .title {
    font-size: 15px;
    font-style: italic; }
  .contact-block .email a {
    background: #ffb652;
    padding: 1em;
    width: 100%;
    display: block;
    font-family: "Hero", Helvetica, Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
    color: white;
    text-decoration: none; }
    .contact-block .email a:hover {
      background: #e27121; }

.ot-signup {
  background: #f0f0f1;
  text-align: center;
  padding: 25px; }
  .ot-signup input[type="text"], .ot-signup input[type="email"], .ot-signup input[type="tel"], .ot-signup textarea {
    color: #808285;
    background: #fff;
    width: 100%; }
  .ot-signup .button {
    text-align: center;
    width: 100%; }
  .ot-signup h2 {
    color: #ffb652; }
  .ot-signup .signup {
    padding: 0 1em; }

@media all and (max-width: 992px) {
  .map iframe {
    width: 100%; }
  .map:after {
    display: none; }

  .row.contact .block-right .block-left {
    float: left;
    width: 30%; }
    .row.contact .block-right .block-left h2 {
      margin-top: 49%; }
  .row.contact .block-right .block-right {
    float: left;
    width: 70%; } }
@media all and (max-width: 850px) {
  .row.contacts {
    display: block; }
    .row.contacts .contact-block {
      flex: none;
      display: block;
      float: left;
      width: 50%;
      border: 5px solid #fff;
      height: 225px;
      margin: 0; } }
@media all and (max-width: 700px) {
  .row.contact .block-right .block-left,
  .row.contact .block-right .block-right {
    width: 100%;
    clear: both; }
  .row.contact .block-right .block-left {
    height: auto;
    background: none; }
    .row.contact .block-right .block-left h2 {
      text-align: center;
      margin-left: 0;
      margin-top: 5%;
      margin-bottom: 0; }
  .row.contact .block-right .block-right {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 25px; } }
@media all and (max-width: 650px) {
  .row.contacts .contact-block {
    width: 100%;
    border-left: 0;
    border-right: 0;
    border-bottom: 0; } }
.post-type-archive-spawn-projects .site, .home .site, .single .site, .category .site {
  width: 1200px;
  max-width: 100%; }
.post-type-archive-spawn-projects .page-header, .home .page-header, .single .page-header, .category .page-header {
  background: url(../../images/header-work.jpg); }
.post-type-archive-spawn-projects .content-grid, .home .content-grid, .single .content-grid, .category .content-grid {
  padding: 1em; }
  .post-type-archive-spawn-projects .content-grid a, .home .content-grid a, .single .content-grid a, .category .content-grid a {
    color: white;
    line-height: 0;
    height: 0;
    text-decoration: none; }
  .post-type-archive-spawn-projects .content-grid img, .home .content-grid img, .single .content-grid img, .category .content-grid img {
    line-height: 0; }
.post-type-archive-spawn-projects .entry-header, .home .entry-header, .single .entry-header, .category .entry-header {
  height: 125px;
  color: white;
  background-color: #253746;
  padding: .5em;
  margin-top: -8px;
  text-align: center; }
  .post-type-archive-spawn-projects .entry-header h2, .home .entry-header h2, .single .entry-header h2, .category .entry-header h2 {
    margin: 0 0 .25em 0;
    font-size: 1em; }
  .post-type-archive-spawn-projects .entry-header h3, .home .entry-header h3, .single .entry-header h3, .category .entry-header h3 {
    font-family: "Garamond", Georgia, serif;
    font-style: italic;
    text-transform: none;
    margin-top: 0;
    font-size: 1em; }
.post-type-archive-spawn-projects .content-grid:hover h3, .post-type-archive-spawn-projects .content-grid:hover h2, .home .content-grid:hover h3, .home .content-grid:hover h2, .single .content-grid:hover h3, .single .content-grid:hover h2, .category .content-grid:hover h3, .category .content-grid:hover h2 {
  color: #e27121; }

.single-spawn-projects .page-header {
  background: #b3b3b3;
  position: relative;
  margin-top: 60px; }
.single-spawn-projects .related {
  padding: 0 3em; }
.single-spawn-projects .entry-footer {
  padding: 3em;
  font-family: "Hero", Helvetica, Arial, sans-serif; }
.single-spawn-projects .content-grid article {
  padding: 1.5em; }
.single-spawn-projects .project-sidebar {
  padding: 1em;
  background: #f0f0f1;
  font-family: "Hero", Helvetica, Arial, sans-serif; }
  .single-spawn-projects .project-sidebar h3 {
    margin: 0 0 0 0; }
  .single-spawn-projects .project-sidebar p {
    margin: 0 0 1em 0; }
  .single-spawn-projects .project-sidebar a {
    text-decoration: none; }
.single-spawn-projects h2.entry-title {
  font-size: 1em; }
.single-spawn-projects h3.entry-client {
  display: none; }
.single-spawn-projects .post-navigation {
  margin: 0; }
  .single-spawn-projects .post-navigation a {
    display: block;
    height: 50px;
    width: 50px; }
  .single-spawn-projects .post-navigation .nav-next {
    background-image: url(../../images/larr.png);
    background-repeat: no-repeat;
    position: absolute;
    height: 20px;
    width: 20px;
    top: 50%;
    left: 1em; }
  .single-spawn-projects .post-navigation .nav-previous {
    background-image: url(../../images/rarr.png);
    background-repeat: no-repeat;
    background-position: right;
    position: absolute;
    height: 20px;
    width: 20px;
    top: 50%;
    right: 1em; }

.project-filter {
  position: relative;
  margin: 2em 1em 1em 1em; }
  .project-filter button, .project-filter a.filter-toggle {
    background-color: #ffb652;
    color: white;
    padding: 1em 4em; }
    .project-filter button:hover, .project-filter a.filter-toggle:hover {
      background: #e27121; }
  .project-filter .filters {
    background-color: #f0f0f1;
    padding: 2em; }
  .project-filter .filter-list {
    width: 30%;
    float: left;
    text-align: center; }
    .project-filter .filter-list h5 {
      color: #e27121; }
    .project-filter .filter-list ul {
      list-style-type: none;
      margin-left: 0;
      padding: 0; }
    .project-filter .filter-list li {
      font-family: "Hero", Helvetica, Arial, sans-serif; }
    .project-filter .filter-list a {
      text-decoration: none; }
  .project-filter .view-all a {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    white-space: nowrap;
    background: #ffb652;
    color: white;
    text-decoration: none;
    float: right; }
    .project-filter .view-all a:hover {
      background: #e27121; }

.hidden {
  display: none; }

@media all and (min-width: 1200px) {
  .project-sidebar {
    width: 297px;
    float: right;
    height: 600px;
    overflow: hidden; }
    .project-sidebar p {
      margin: 0 0 1.5em 0; } }
@media all and (min-width: 1130px) and (max-width: 1199px) {
  .project-sidebar {
    width: 20%;
    max-width: 297px;
    float: right;
    height: 600px;
    overflow: hidden;
    background: white !important;
    padding: .5em !important; }
    .project-sidebar p {
      margin: 0 0 1em 0;
      font-size: .9em; } }
@media all and (max-width: 1129px) {
  .single-spawn-projects .site {
    width: 94%; } }
@media all and (max-width: 920px) {
  .single-spawn-projects .page-title {
    line-height: 1em; }
  .single-spawn-projects .project-sidebar {
    height: auto;
    width: 100%; } }
@media all and (max-width: 750px) {
  .single-spawn-projects .content-grid article {
    text-align: center; } }
@media all and (max-width: 540px) {
  .single-spawn-projects .site {
    width: 100%; } }
.page-careers .page-header {
  background: url(../../images/header-careers.jpg); }

.open-jobs {
  overflow: hidden; }
  .open-jobs:after {
    background-color: #f0f0f1;
    right: 50%;
    margin-right: -25px;
    top: auto;
    bottom: -25px; }
  .open-jobs h2 {
    float: left;
    margin-left: 76px;
    padding: 0 8px;
    position: relative; }
    .open-jobs h2:before {
      background-image: url(../../images/single-line-burst-left.png);
      content: "";
      display: block;
      height: 60px;
      left: -20px;
      position: absolute;
      top: -18px;
      width: 18px; }
    .open-jobs h2:after {
      background-image: url(../../images/single-line-burst-right.png);
      content: "";
      height: 60px;
      display: block;
      width: 18px;
      right: -20px;
      position: absolute;
      top: -18px; }

.jobs {
  height: 300px;
  overflow: hidden; }
  .jobs p {
    margin: .5em 0; }
  .jobs .jobs-text {
    padding-right: 5em; }
  .jobs .block-right {
    line-height: 0; }
    .jobs .block-right:after {
      background-color: #fff;
      left: -25px; }
  .jobs img {
    line-height: 0; }

.instagram-widget {
  line-height: 0; }

.content-job .entry {
  padding-left: 100px;
  padding-right: 75px;
  padding-top: 2em;
  background-color: #f0f0f1; }
  .content-job .entry:before {
    left: 2em;
    width: 30px;
    height: 30px; }
.content-job h3 {
  color: #e27121;
  font-size: 1.2em; }
  .content-job h3 a {
    color: inherit;
    text-decoration: none; }
    .content-job h3 a:hover {
      color: #ffb652; }
.content-job .entry-content {
  padding-left: 0; }
  .content-job .entry-content a:hover {
    color: #253746; }
.content-job .apply-footer {
  height: 40px;
  background-color: #d1d2d3;
  overflow: hidden; }
  .content-job .apply-footer .button {
    background-color: #ffb652;
    width: 200px;
    margin-left: 100px;
    color: white;
    text-align: center;
    text-decoration: none;
    line-height: 2;
    padding: .45em 2em;
    display: inline-block;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none; }
    .content-job .apply-footer .button:hover {
      background-color: #e27121; }
.content-job .more-info {
  color: #e27121;
  display: inline-block;
  font-family: "Hero", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  margin-bottom: 1.25em;
  text-decoration: none;
  text-transform: uppercase; }

.single-spawn-jobs .page-header {
  background: url(../../images/header-careers.jpg); }
.single-spawn-jobs .content-area {
  margin: 2em 4em; }

@media all and (max-width: 1180px) {
  .row.jobs {
    height: auto; }
    .row.jobs img {
      width: 100%; } }
@media all and (max-width: 992px) {
  .row.jobs .block-right:after {
    display: none; } }
@media all and (max-width: 665px) {
  .open-jobs:after {
    display: none; } }
@media all and (max-width: 575px) {
  .row.jobs .block-left {
    padding: 1.5em 1em; }
    .row.jobs .block-left:before {
      display: none; }

  .open-jobs h2 {
    margin-left: 20px; }

  .spawn-jobs .entry {
    padding: 2em 1em; }
    .spawn-jobs .entry:before {
      display: none; }

  .content-job .apply-footer .button {
    margin-left: 20px; } }
.page .page-about .entry-content {
  padding: 0; }

.page-about .page-header {
  background: url(../../images/header-about.jpg); }
.page-about .about-text {
  height: 300px; }

.divider.leadership {
  background: #253746;
  margin-bottom: 0;
  line-height: .5; }

.leaders {
  background-color: #253746;
  position: relative; }
  .leaders .leaderbio {
    float: left;
    cursor: pointer;
    width: 25%; }
  .leaders .bio-small {
    width: 300px; }
    .leaders .bio-small img {
      height: auto;
      width: 100%; }
    .leaders .bio-small h3, .leaders .bio-small h4, .leaders .bio-small .awards .block-right, .awards .leaders .bio-small .block-right {
      margin-bottom: .5em;
      text-align: center;
      color: white;
      font-size: .9em; }
    .leaders .bio-small h4, .leaders .bio-small .awards .block-right, .awards .leaders .bio-small .block-right {
      font-family: "Garamond", Georgia, serif;
      font-style: italic;
      text-transform: none !important; }
    .leaders .bio-small:hover h3, .leaders .bio-small:hover h4, .leaders .bio-small:hover .awards .block-right, .awards .leaders .bio-small:hover .block-right {
      color: #e27121; }
  .leaders .bio-full {
    display: none;
    background-color: white;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0; }
    .leaders .bio-full h3 {
      margin-bottom: 0; }
    .leaders .bio-full h4, .leaders .bio-full .awards .block-right, .awards .leaders .bio-full .block-right {
      font-family: "Garamond", Georgia, serif;
      font-style: italic;
      font-size: 1em;
      margin-bottom: 1em;
      text-transform: none; }
    .leaders .bio-full p {
      margin-bottom: 1em; }
    .leaders .bio-full .block-left {
      line-height: 0; }
    .leaders .bio-full .block-right {
      padding: 1.25em 1.25em 0; }
    .leaders .bio-full .close {
      display: inline-block;
      background: url(../../images/cancel-circle.png);
      background-image: url(../../images/cancel-circle.svg), none;
      background-repeat: no-repeat;
      background-size: 16px auto;
      float: right;
      width: 16px;
      height: 16px; }

.awards {
  background-color: #ffb652;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }
  .awards:before {
    display: block; }
  .awards .block-left {
    background-color: #e27121;
    color: white;
    padding: .75em 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative; }
    .awards .block-left:after {
      background-color: #ffb652; }
    .awards .block-left h2 {
      border: 2px dashed white;
      padding: 3em 1em 1em;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -75px;
      margin-top: -75px; }
  .awards .block-right {
    color: #253746;
    clear: none;
    padding: 0 0 0 8%;
    margin-bottom: 0; }
    .awards .block-right .awards-text {
      text-transform: none;
      padding: 0 40px;
      font-size: 1.1rem;
      line-height: 1.5;
      font-weight: 300; }
      .awards .block-right .awards-text .award-logos {
        padding: 5px 0 15px 0; }
    .awards .block-right ul {
      list-style: none;
      -moz-column-count: 2;
      -webkit-column-count: 2;
      column-count: 2;
      font-size: .9em;
      padding-left: 0;
      margin-left: 0;
      margin-bottom: 0; }
      .awards .block-right ul li {
        margin: 12px 0;
        display: inline-block; }

.bluebg {
  background: #253746;
  height: 400px; }

.about2-content {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-family: "Hero", Helvetica, Arial, sans-serif;
  padding-top: 175px; }
  @media all and (max-width: 990px) {
    .about2-content {
      padding-top: 25px; } }

@media all and (min-width: 1155px) {
  .awards .block-right ul {
    width: 90%; } }
.brand-grid {
  padding: 2em; }
  .brand-grid h2 {
    margin: 1.5em .75em;
    display: block; }

.brands ul,
.affiliates ul {
  margin-left: 0;
  padding: 0; }
  .brands ul li,
  .affiliates ul li {
    float: left;
    list-style: none;
    width: 20%;
    max-height: 300px;
    padding: 1em;
    overflow: hidden; }

.affiliates span {
  background: #f0f0f1;
  display: inline-block;
  width: 200px;
  height: 200px;
  padding: 33% 0;
  text-align: center;
  font-family: "Hero", Helvetica, Arial, sans-serif; }

.howwethink {
  color: white;
  padding: 2em 10em;
  font-family: "Hero", Helvetica, Arial, sans-serif;
  text-align: center;
  background: url(../../images/how-we-think.jpg);
  background-size: cover;
  height: 300px; }
  .howwethink p {
    font-size: 1.1em;
    line-height: 1.5;
    font-weight: 300; }

@media all and (max-width: 1050px) {
  .howwethink {
    padding: 2em; } }
@media all and (max-width: 992px) {
  .page-about .about-text {
    height: auto; }

  .about .block-right iframe {
    width: 100%; }

  .leaders .leaderbio {
    width: 33.33333%; }

  .leaders .bio-small {
    width: 100%; }

  .howwethink {
    height: auto; }

  .brands ul,
  .affiliates ul {
    display: block;
    flex-row: none; }
    .brands ul li,
    .affiliates ul li {
      float: left;
      width: 25%;
      margin: 0;
      padding: 1em;
      max-width: none; } }
@media all and (max-width: 950px) {
  .awards .block-left {
    display: block;
    height: 65px;
    overflow: hidden;
    width: 100%; }
    .awards .block-left:after {
      bottom: -25px;
      left: 50%;
      margin-left: -25px;
      right: auto;
      top: auto; }
    .awards .block-left h2 {
      position: relative;
      left: auto;
      margin-left: 2.65em; }
  .awards .block-right {
    width: 100%;
    padding: 1.5em; }
    .awards .block-right .awards-text {
      padding: 0; } }
@media all and (max-width: 780px) {
  .howwethink {
    padding: 2em 0.5em; }

  .brands ul li,
  .affiliates ul li {
    width: 33.3333%; } }
@media all and (max-width: 720px) {
  .leaders .leaderbio {
    width: 50%; }

  .brands ul li,
  .affiliates ul li {
    width: 50%; }

  .howewthink {
    font-size: 0.9em; } }
@media all and (max-width: 550px) {
  .awards .block-left:after {
    display: none; } }
@media all and (max-width: 515px) {
  .awards .block-right ul {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1; }

  .leaders .leaderbio {
    width: 100%;
    position: relative; }

  .leaders .bio-full {
    z-index: 10; } }
@media all and (max-width: 480px) {
  .brands ul li,
  .affiliates ul li {
    width: 100%; } }
/* 404 Page
--------------------------------------------------------------*/
.error-404 {
  text-align: center; }
  .error-404 ul,
  .error-404 li {
    list-style: none;
    margin: 0;
    padding: 0; }
  .error-404 .search-form {
    width: 400px;
    margin: 0 auto 2em; }
  .error-404 .search-field {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    height: 35px;
    margin-right: 0;
    margin: 0;
    width: 300px; }
  .error-404 .search-submit {
    height: 35px;
    width: 100px; }

/*! http://responsiveslides.com v1.54 by @viljamis */
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0; }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0; }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left; }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0; }

.bxslider-row {
  max-height: 100%;
  position: relative;
  overflow: hidden; }
  .bxslider-row .home-title,
  .bxslider-row .home-title h2 {
    padding-bottom: 0;
    margin-bottom: 0; }
  .bxslider-row .bx-wrapper {
    margin: 1em 0;
    padding-top: 1em;
    padding-bottom: 2em; }
  .bxslider-row .left-nav {
    left: 0; }
  .bxslider-row .right-nav {
    right: 0; }
  .bxslider-row .left-nav,
  .bxslider-row .right-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95%;
    width: 2em;
    z-index: 10;
    position: absolute; }
    .bxslider-row .left-nav a,
    .bxslider-row .right-nav a {
      color: #fff;
      background-color: #3f5e78; }
      .bxslider-row .left-nav a:hover,
      .bxslider-row .right-nav a:hover {
        color: #fff;
        background-color: #3f5e78; }
    .bxslider-row .left-nav a,
    .bxslider-row .left-nav span,
    .bxslider-row .right-nav a,
    .bxslider-row .right-nav span {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #808080;
      width: 100%; }
