.page .page-about .entry-content {
	padding: 0;
}
.page-about{
	.page-header {
		background: url(../../images/header-about.jpg);
	}

	.about-text {
		height: 300px;
	}
}
.divider.leadership {
	background: $brand-primary;
	margin-bottom: 0;
	line-height: .5;
}
.leaders {
	background-color: $brand-primary;
	position: relative;
	.leaderbio {
		float: left;
		cursor: pointer;
		width: 25%;
	}

	.bio-small {
		width: 300px;
		img {
			height: auto;
			width: 100%;
		}
		h3, h4 {
			margin-bottom: .5em;
			text-align: center;
			color: white;
			font-size: .9em;
		}
		h4 {
			font-family: $font-family-serif;
			font-style: italic;
			text-transform: none !important;
		}
    &:hover {
      h3, h4 {
        color: $brand-secondary;
      }
    }
	}
	.bio-full {
		display: none;
		background-color: white;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		h3 {
			margin-bottom: 0;
		}
		h4 {
			font-family: $font-family-serif;
			font-style: italic;
			font-size: 1em;
			margin-bottom: 1em;
			text-transform: none;
		}
		p {
			margin-bottom: 1em;
		}
		.block-left {
			line-height: 0;
		}
		.block-right {
			padding: 1.25em 1.25em 0;
		}
		.close {
			display: inline-block;
			background: url(../../images/cancel-circle.png);
			background-image: url(../../images/cancel-circle.svg), none;
			background-repeat: no-repeat;
			background-size: 16px auto;
			float: right;
			width: 16px;
			height: 16px;
		}
	}
}
.awards {
	background-color: $brand-tertiary;
	@include flexbox;
	@include flex-flow(row wrap);

	&:before {
		display: block;
	}

	.block-left {
		@extend %half-circle-cutout;
		background-color: $brand-secondary;
		color: white;
		padding: .75em 0;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		position: relative;


		&:after {
			background-color: $brand-tertiary;
		}

		h2 {
			@extend %round-header;
			border: 2px dashed white;
			padding: 3em 1em 1em;
			position: absolute;
			left: 50%;
			top: 50%;
			margin-left: -75px;
			margin-top: -75px;
		}
	}

	.block-right {
		color: $brand-primary;
		@extend h4;
		clear: none;
		padding: 0 0 0 8%;
		margin-bottom: 0;

		.awards-text {
			text-transform: none;
			padding: 0 40px;
			font-size: 1.1rem;
			line-height: 1.5;
			font-weight: 300;
			
			    .award-logos{
    			    padding: 5px 0 15px 0;
			    }
		}

		ul {
			list-style: none;
			-moz-column-count: 2;
			-webkit-column-count: 2;
			column-count: 2;
			font-size: .9em;
			padding-left: 0;
			margin-left: 0;
			margin-bottom: 0;

			li {
				margin: 12px 0;
				display: inline-block;
			}
		}
	}
}

.bluebg  {
  background: #253746;
  height: 400px;
}

.about2-content{ 
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-family: "Hero", Helvetica, Arial, sans-serif;
  padding-top: 175px;

  
  @media all and (max-width: 990px) {
	 padding-top: 25px;
  } 
  
}



@media all and (min-width: 1155px) {
	.awards .block-right ul {
		width: 90%;
	}
}

.brand-grid {
	padding: 2em;
	h2 {
		margin: 1.5em .75em;
		display: block;
	}
}

.brands ul,
.affiliates ul {
	@extend %clearfix;
	margin-left: 0;
	padding: 0;

	li {
		float: left;
		list-style: none;
		width: 20%;
		max-height: 300px;
		padding: 1em;
		overflow: hidden;
	}
}
.affiliates {
	span {
		background: $gray-lighter;
		display: inline-block;
		width: 200px;
		height: 200px;
		padding: 33% 0;
		text-align: center;
		font-family: $font-family-sans-serif;
	}
}
.howwethink {
	color: white;
	padding: 2em 10em;
	font-family: $font-family-sans-serif;
	text-align: center;
	background: url(../../images/how-we-think.jpg);
	background-size: cover;
	height: 300px;
	p {
		font-size: 1.1em;
		line-height: 1.5;
		font-weight: 300;
	}
}

@media all and (max-width: 1050px) {
	.howwethink {
		padding: 2em;
	}
}

@media all and (max-width: 992px) {
	.page-about .about-text {
		height: auto;
	}

	.about .block-right iframe {
		width: 100%;
	}

	.leaders .leaderbio {
		width: 33.33333%;
	}

	.leaders .bio-small {
		width: 100%;
	}

	.howwethink {
		height: auto;
	}

	.brands ul,
	.affiliates ul {
		display: block;
		flex-row: none;

		li {
			float: left;
			width: 25%;
			margin: 0;
			padding: 1em;
			max-width: none;
		}
	}
}

@media all and (max-width: 950px) {
	.awards {
		.block-left {
			display: block;
			height: 65px;
			overflow: hidden;
			width: 100%;

			&:after {
				bottom: -25px;
				left: 50%;
				margin-left: -25px;
				right: auto;
				top: auto;
			}

			h2 {
				position: relative;
				left: auto;
				margin-left: 2.65em;
			}
		}

		.block-right {
			width: 100%;
			padding: 1.5em;

			.awards-text {
				padding: 0;
			}
		}
	}
}

@media all and (max-width: 780px) {
	.howwethink {
		padding: 2em 0.5em;
	}

	.brands ul,
	.affiliates ul {
		li {
			width: 33.3333%;
		}
	}
}

@media all and (max-width: 720px) {
	.leaders .leaderbio {
		width: 50%;
	}

	.brands ul,
	.affiliates ul {
		li {
			width: 50%;
		}
	}

	.howewthink {
		font-size: 0.9em;
	}
}

@media all and (max-width: 550px) {
	.awards .block-left:after {
		display: none;
	}
}

@media all and (max-width: 515px) {
	.awards .block-right ul {
		-moz-column-count: 1;
		-webkit-column-count: 1;
		column-count: 1;
	}

	.leaders .leaderbio {
		width: 100%;
		position: relative;
	}

	.leaders .bio-full {
		z-index: 10;
	}
}

@media all and (max-width: 480px) {
	.brands ul li,
	.affiliates ul li {
		width: 100%;
	}
}
