.divider{
	height: 60px;
	line-height: 60px;
	padding: 1em;
	background: $brand-secondary;
	color: white;
	h3 {
		margin: 0;
	}
}

.archive {

    .page-header {
    		background: url(../../images/header-category.jpg);
    }
    
    .taxonomy-description p {
        	//margin: $spacing;
    }

}

	
.archive.category {
	.taxonomy-description {
		@extend %orange-dot;
		padding-right: 2em;
	}
	.post-list {
		padding:  $spacing ($spacing * 2);
	}
	.posts{
		background-color: $gray-lighter;
		.entry-header h2 {
			font-size: .95em;
		}
	}

	.page-header {
		background: url(../../images/header-category.jpg);
	}
	.content-grid {
		padding: 1em;
		a {
			line-height: 0;
			height: 0;
			text-decoration: none;
		}
		img {
			line-height: 0;
		}
	}
	.category-header {
		.featured-image {
			@extend %half-circle-cutout;
			line-height: 0;

			&:after {
				background-color: #fff;
			}
		}
	}
	.category-title {
		h3 {
			float: left;
			margin-left: 24px;
			padding: 0 8px;
			position: relative;
			white-space: nowrap;

			&:before {
				background-image: url(../../images/four-burst-left.png);
				content: "";
				display: block;
				height: 60px;
				left: -42px;
				position: absolute;
				top: -18px;
				width: 42px;
			}

			&:after {
				background-image: url(../../images/four-burst-right.png);
				content: "";
				height: 60px;
				display: block;
				width: 44px;
				right: -42px;
				position: absolute;
				top: -18px;
			}
		}
	}
	.work-list {
		.entry-header {
      // fixing content height on mobile. this seems unneccessary
//			height: 95px;
		}
	}
  article {
    text-align: center;
  }
	.entry-header {
		padding: .5em;
		margin-top: -8px;
		text-align: center;
		h2 {
			margin: 0 0 .25em 0;
			font-size: 1em;
		}
		h3 {
			font-family: $font-family-base;
			font-style: italic;
			text-transform: none;
			margin-top: 0;
			font-size: 1em;
		}
	}
	.posts-header {
		padding: 5em $spacing;
		background-color: $brand-tertiary;
		color: white;
		height: 340px;
		h2 {
			@extend %round-header;
			background-color: $brand-secondary;
			padding: 0;
			padding-top: 2.55em;
		}
		h5 {
			margin-top: 3.5em;
		}
		&:after {
			background-color: $gray-lighter;
		}
	}
	.content-grid {
		padding: $spacing $spacing 0 $spacing;
		h3 {
			font-size: .9em;
			text-transform: lowercase;
		}
	}
	.brand-list {
		padding: 3em;
		text-align: center;
		h4 {
			color: $brand-secondary;
			text-align: center;
		}
		.thumbs img {
			margin: $spacing;
		}
	}
}

@media all and (max-width: 1060px) {
	#portfolio-content {
		img {
			height: auto;
			width: 100%;
		}
		.narrow {
			width: 33.33333%;
		}
	}
}

@media all and (max-width: 812px) {
	#portfolio-content,
	.archive.category .content-area {
		.narrow {
			width: 50%;
		}
	}
}

@media all and (max-width: 750px) {
	.work-list {
		.narrow {
			width: 100%;
			margin: 1em 0;
		}
	}
}

@media all and (max-width: 680px) {
	.project-filter .filter-list {
		width: 100% !important;
		float: none !important;
		margin: 0.5em 0 2em;
	}
}

@media all and (max-width: 550px) {
	#portfolio-content,
	.archive.category .content-area {
		.narrow {
			width: 100%;
		}
	}

	.archive.category .posts-header:after {
		display: none;
	}

    // fixing spacing for related works on mobile
  .archive.category {
    .content-area .narrow {
      margin-top: 1em;
      margin-bottom: 0;
      }
  }
}
