.blog {
	.site-main {
		padding:  $spacing ($spacing * 2);
		@include breakpoint(xs) {
			padding: 1em;
		}
	}
	.project-filter {
		margin: 1em 1.5em;
	}
  a:hover {
    color: $brand-secondary;
  }
}

.read-more,
.read-more:visited {
	text-transform: uppercase;
	font-family: $font-family-sans-serif;
	text-decoration: none;
	color: $brand-secondary;
  &:hover {
    color: $brand-primary !important;
  }
}

.blog .page-header, .single .page-header, .page .page-header {
	background: url(../../images/header-blog.jpg);
}

.single {
	.entry-footer {
		margin-bottom: 1.5em;
  }
}
	

// pks: blog only (i.e. not works)
.single-post {
  nav.navigation {
    .nav-next, .nav-previous {
      width: 112px;
      height: 25px;
      background-size: 100%;
      margin-bottom: 1em;
      a {
        display: inline-block;
        height: 100%;
        width: 100%;
        span {
          display: none;
        }
      }
    }
    .nav-next {
      background-image: url('../../images/nav-next.jpg');
      position: relative;
      right: 0px;
    }
    .nav-previous {
      background-image: url('../../images/nav-previous.jpg');
      position: relative;
      left: 0px;
    } 
  }

}


.see-wrap{
   margin: 15px;
}
.see-all {
    float: right;
    background-size: 100%;
    margin-bottom: 1em;
    text-indent: -9999px;
    
    a {
        background-image: url("../../images/see-all-a.png");
        display: block;
        width: 112px;
        height: 25px;
        
        &:hover{
            background-image: url("../../images/see-all-hov.png");
            width: 112px;
            height: 25px;
        }
    }
}




@media (min-width: 988px) {
  .single-post {
    nav.navigation {
      position: absolute;
      width: 100%;
      left: 0;
      .nav-next, .nav-previous {
        margin: 0 60px;
      }
    }
  }
}
