.page-careers{
	.page-header {
		background: url(../../images/header-careers.jpg);
	}
}

.open-jobs {
	@extend %half-circle-cutout;
	overflow: hidden;

	&:after {
		background-color: #f0f0f1;
		right: 50%;
		margin-right: -25px;
		top: auto;
		bottom: -25px;
	}

	h2 {
		float: left;
		margin-left: 76px;
		padding: 0 8px;
		position: relative;

		&:before {
			background-image: url(../../images/single-line-burst-left.png);
			content: "";
			display: block;
			height: 60px;
			left: -20px;
			position: absolute;
			top: -18px;
			width: 18px;
		}

		&:after {
			background-image: url(../../images/single-line-burst-right.png);
			content: "";
			height: 60px;
			display: block;
			width: 18px;
			right: -20px;
			position: absolute;
			top: -18px;
		}
	}
}

.jobs {
	height: 300px;
	overflow: hidden;

	p {
		margin: .5em 0;
	}
	.jobs-text{
		@extend %orange-dot;
		padding-right: 5em;
	}
	.block-right {
		@extend %half-circle-cutout;
		line-height: 0;

		&:after {
			background-color: #fff;
			left: -25px;
		}
	}
	img {
		line-height: 0;
	}
}
.instagram-widget {
	line-height: 0;
}
.content-job {
	.entry {
		@extend %orange-dot;
		padding-left: 100px;
		padding-right: 75px;
		padding-top: 2em;
		background-color: $gray-lighter;

		&:before {
			left: 2em;
			width: 30px;
			height: 30px;
		}
	}
	h3 {
		color: $brand-secondary;
		font-size: 1.2em;
		a {
			color: inherit;
			text-decoration: none;
			&:hover {
				color: $brand-tertiary;
			}
		}
	}
  .entry-content {
      
      padding-left: 0;
    a {
      &:hover {
        color: $brand-primary;
      }
    }
  }
	.apply-footer {
		height: 40px;
		background-color: $gray;
		overflow: hidden;

		.button {
			background-color: $brand-tertiary;
			width: 200px;
			margin-left: 100px;
			color: white;
			text-align: center;
			text-decoration: none;
			line-height: 2;
			padding: .45em 2em;
			display: inline-block;
			-moz-appearance: none;
			-webkit-appearance: none;
			appearance: none;
			&:hover {
				background-color: $brand-secondary;
			}
		}
	}

	.more-info {
		color: $brand-secondary;
		display: inline-block;
		font-family: $font-family-sans-serif;
		letter-spacing: 1px;
		margin-bottom: 1.25em;
		text-decoration: none;
		text-transform: uppercase;
	}
}

.single-spawn-jobs {
	.page-header {
		background: url(../../images/header-careers.jpg);
	}

	.content-area {
		margin: 2em 4em;
	}
}

@media all and (max-width: 1180px) {
	.row.jobs {
		height: auto;

		img {
			width: 100%;
		}
	}
}

@media all and (max-width: 992px) {
	.row.jobs .block-right:after {
		display: none;
	}
}

@media all and (max-width: 665px) {
	.open-jobs:after {
		display: none;
	}
}

@media all and (max-width: 575px) {
	.row.jobs {
		.block-left {
			padding: 1.5em 1em;
			&:before {
				display: none;
			}
		}
	}
	.open-jobs h2 {
		margin-left: 20px;
	}

	.spawn-jobs .entry {
		padding: 2em 1em;
		&:before {
			display: none;
		}
	}

	.content-job .apply-footer .button {
		margin-left: 20px;
	}
}
