/*--------------------------------------------------------------
10.3 Comments
--------------------------------------------------------------*/
.comments-area {
	border-top: 1px solid #ddd;
	margin-top: 3em;
	padding-top: 2.5em;
}

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
}
