/*--------------------------------------------------------------
10.3 Comments
--------------------------------------------------------------*/
.page-contact {
	.page-header {
		background: url(../../images/header-contact.jpg);
	}
	.form{
		padding: 1em 2em;
		input {
			width: 100%;
		}
		h3 {
			margin-top: 0;
			color: $brand-secondary;
		}
	}
	.block-left {
		line-height: 0;
	}
}

.contacts {
	@extend %flexbox;
	@include flex-flow(row wrap);
	margin-top: 2px;
}

.contact-block {
	@include flex(1 0 0px);
	min-width: 20%;
	background-color: $gray-lighter;
	margin: 2px;
	padding: 1em;
	h3 {
		margin-top: 0;
		color: $brand-secondary;
	}
	p {
		margin-top: 0;
	}
	.name {
		margin-bottom: 0;
	}
	.title {
		font-size: $font-size-small;
		font-style: italic;
	}
	.email a {
		background: $brand-tertiary;
		padding: 1em;
		width: 100%;
		display: block;
		font-family: $headings-font-family;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 0;
		color: white;
		text-decoration: none;

		&:hover {
			background: $brand-secondary;
		}
		
	}
}

.ot-signup{
    background: $gray-lighter;
    text-align: center;
    padding: 25px;
    
   
    #mc_embed_signup {
     //padding: 0 50px 0 50px;
    }   
    
    input[type="text"], input[type="email"], input[type="tel"], textarea {
    color: #808285;
    background: #fff;
    width: 100%;
    }
    
    .button{
        text-align: center;
      width: 100%;  
    }
    
    h2{
        color: $brand-tertiary;
    }
    
    .signup{
        padding: 0 1em;
    }
}


@media all and (max-width: 992px) {
	.map {
		iframe {
			width: 100%;
		}
		&:after {
			display: none;
		}
	}

	.row.contact {
		.block-right .block-left {
			float: left;
			width: 30%;

			h2 {
				margin-top: 49%;
			}
		}

		.block-right .block-right {
			float: left;
			width: 70%;
		}
	}
}

@media all and (max-width: 850px) {
	.row.contacts {
		display: block;
		.contact-block {
			flex: none;
			display: block;
			float: left;
			width: 50%;
			border: 5px solid #fff;
			height: 225px;
			margin: 0;
		}
	}
}

@media all and (max-width: 700px) {
	.row.contact {
		.block-right {
			.block-left,
			.block-right {
				width: 100%;
				clear: both;
			}

			.block-left {
				height: auto;
				background: none;

				h2 {
					text-align: center;
					margin-left: 0;
					margin-top: 5%;
					margin-bottom: 0;
				}
			}

			.block-right {
				text-align: center;
				padding-top: 10px;
				padding-bottom: 25px;
			}
		}
	}
}

@media all and (max-width: 650px) {
	.row.contacts {
		.contact-block {
			width: 100%;
			border-left: 0;
			border-right: 0;
			border-bottom: 0;
		}
	}
}