/* 404 Page
--------------------------------------------------------------*/
.error-404 {
	text-align: center;

	ul,
	li {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.search-form {
		width: 400px;
		margin: 0 auto 2em;
	}

	.search-field {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		float: left;
		height: 35px;
		margin-right: 0;
		margin: 0;
		width: 300px;
	}

	.search-submit {
		height: 35px;
		width: 100px;
	}
}