.site-footer {
	max-width: 1200px;
	margin: 0 auto;
	&.row {
		min-height: 100%;
		max-height: none;
	}
	color: white;
	background: $brand-primary;
	border-bottom: 80px solid $brand-tertiary;
	@include breakpoint(xs) {
		border-bottom: 25px solid $brand-tertiary;
	}
	a {
		color: #fff;
	}
	padding: $spacing;
	h4 {
		margin: 0;
	}
	.social {
		min-height: 225px;
		.social-link {
			display: inline-block;
			margin-top: .5em;
			margin-right: .75em;
			height: 31px;
			width: 31px;
		}
		.fb {
			background: url('../../images/fb.png');
			background-image: url('../../images/fb.svg'), none;
			background-repeat: no-repeat;
		}
		.tw {
			background: url('../../images/twitter.png');
			background-image: url('../../images/twitter.svg'), none;
			background-repeat: no-repeat;
			background-position: bottom center;
		}
		.link {
			background: url('../../images/linkedin.png');
			background-image: url('../../images/linkedin.svg'), none;
			background-repeat: no-repeat;
		}
		.insta {
			background: url('../../images/insta.png');
			background-image: url('../../images/insta.svg'), none;
			background-repeat: no-repeat;
		}
		a {
			text-decoration: none;
		}
	}

	a.footer-thumbs {
		color: white;
		display: inline-block;
		font-family: $font-family-sans-serif;
		width: 100px;
		height: 100px;
		background-color: lighten( $brand-primary, 10% );
		margin: 5px;
		vertical-align: middle;
		font-size: .8em;
		text-decoration: none;
		span {
			display: inline-block;
			padding: 10px;
		}

    .thumbnail {
      overflow: hidden;
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      img {
        @include transition(all .3s ease-in-out);
      }
    }
    &:hover {
      color: $brand-secondary;
      img {
        @include transform(scale(1.2));
      }
    }

	}
	.attachment-square-small {
		padding:0;
	}
	.block-left {
		h6 {
			margin: 0 0 0 0;
		}
	}
}
.copy {
	max-width: 1200px;
	margin: 0 auto;
	padding-left: 1em;
	background: $brand-secondary;
	color: $gray;
	font-family: $font-family-sans-serif;
	font-size: .8em;
	a {
		color: $gray;
		text-decoration: none;
	}
}

@media all and (max-width: 992px) {
	.site-footer {
		.block-left {
			width: 35%;
		}
		.block-right {
			width: 65%;
		}
		.social {
			min-height: 200px;
		}
	}
}

@media all and (max-width: 768px) {
	.site-footer {
		.block-left,
		.block-right {
			width: 100%;
		}

		.block-left {
			margin-bottom: 60px;
		}

		.social {
			min-height: 100px;
		}
	}
}
