.site-header {
	background-color: $brand-primary;
	color: white;
	font-family: $headings-font-family;
	position: relative;
	overflow: hidden;
	.home & {
		background-color: transparent;
		height: 550px;
	}
	.site-branding {
		float: left;
		padding: 0.5em 1em;
		position: relative;
		z-index: 501;
		h1 {
			margin: 0;
			padding: 0;
			line-height: 48px;
		}
		img {
			height: 36px;
			vertical-align: middle;
		}
		@include breakpoint(xs) {
		}
	}
	
	.page-header {
		margin-top: 50px;
	}
	.hero-menu {
    	
    	height: 64px;
    	
    	text-transform: uppercase;
		li {
			line-height: 1;
		}
		a {
			display: block;
			padding: 1.6em 1.25em;
		}
	}
	.page-header .hero-menu {
		bottom: 0;
		position: absolute;
		text-align: center;
		width: 100%;
		left: 0;
		display: inline-block;
		margin: 0 auto;
		top: auto !important;

		li {
			float: none;
			display: inline-block;
		}
	}
	@media all and (max-width: 992px) {
		.page-header .hero-menu {
			display: none !important;
		}
	}
	h1 {
		font-size: 1.2em;
	}
	.home & {
		.hero-menu.header-menu {
			display: none;
		}
	}

	.site-title img {
		min-width: 106px;
	}

	a {
		color: white;
//		text-decoration: none;
		&:hover {
//			text-decoration: none;
		}
	}

	ul a {
		//padding: 6px 0;
		//display: block;
	}
	@media all and (min-width: 992px) and (max-width: 1030px) {
		ul.hero-menu.cloned {
			right: 0;
		}
		.hero-menu a {
			padding: 1.6em 1em;
		}
	}
	@media all and (max-width: 992px) {
		.home & {
			height: auto;
		}
		ul.hero-menu.cloned {
			display: none !important;
		}
	}
}

@media (max-width: 979px) {
    
    .site-header{
        background: none;

    }
    
     .page-header{
            margin-top: 0px;
        }
}
