.home, .page-template-front-page-denver {
	.row {
		//max-height: 320px;
		width: 100%;
		@extend %clearfix;
	}

  .hero-title {
    position: absolute;
    right: 0;
    height: 100%;
    width: 230px;
    color: white;
    font-size: .8em;
    margin-top: 18px;
    margin-right: 25px;
    span {
      display: block;
      width: 100%;      
    }
    .hero-title-carrot {
      position: absolute;
      left: -15px;
      top: 0;
      margin-top: 3px;
      display: inline-block;
      width: 9px;
      height: 5px;
      background-image: url(../../images/hero-title-carrot.png);
      
    }
  }

	.page-header {
//		background-image: url('../../images/header.jpg');
		background-size: cover;
		height: 500px;
        margin-top: 64px; // pks: was hidden under top nav
		@include breakpoint(xs) {
			height: 200px;
		}
    .rev_slider_wrapper {
      position: absolute;
      z-index: 0;
    }
		h1 { // .js-banner-text
			font-size: 18em;
      width: 100%;
      position: absolute;
      left: 50%;
      margin-left: -50%;
      padding: .1em 0;
			@include breakpoint(xs) {
				font-size: 8em;
			}
      z-index: 2;
      pointer-events: none; // was blocking menu
		}
    .menu-main-menu-container {
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 100%;
      margin-left: -50%;
//      z-index: 40; // pks: added to fit above revolution slider
    }
	}

	.work {
		height: 300px;
		overflow: hidden;
		position: relative;

		h2 {
			color: $brand-secondary;
		}
		h3 {
			margin-bottom: 0;
			a {
				text-decoration: none;
				&:hover {
					color: $brand-secondary;
				}
			}
		}
		h5 {
			a {
				color: $brand-secondary;
				text-decoration: none;
        &:hover {
          color: $brand-primary;
        }
			}
		}
		.client {
			font-size: $font-size-small;
			font-style: italic;
		}
		.more {
			color: $brand-secondary;
		}
		p {
			margin-bottom: 1em;
		}
		.block-left {
			//line-height: 0;
		}
		.block-right {

			& > .block-left {
				background: url(../../images/contact-border.png);
				background-image: url(../../images/contact-border.svg), none;
				background-repeat: no-repeat;
				background-position: 220px 50%;
				width: 40%;
				h2 {
					margin-top: 59%;
					font-size: 21px;
					text-align: center;
					padding: 0 25px;
				}

			}

			.block-right {
				padding: 50px 20px 20px;
				width: 60%;
			}

			.block-left,
			.block-right {
				height: 300px;
			}
		}

		.featured-image {
			@extend %half-circle-cutout;
			height: 320px;

			&:after {
				background-color: #fff;
			}
		}
		.featured-work {
			@extend %clearfix;
			width: 100%;
		}
		.rslides_tabs {
			position: absolute;
			right: 445px;
			bottom: 30px;

			li {
				background: #eee;
				width: 15px;
				height: 15px;
				display: inline-block;
				border-radius: 50%;
				margin: 0 5px;
				overflow: hidden;
				text-indent: -9999px;

				&.rslides_here {
					background: $brand-secondary;
				}
			}
		}
	}
	.services {
		padding: 1em;
		background-color: $brand-primary;
		color: white;
		a {
			color: white;
			text-decoration: none;
			&:hover {
        color: $brand-secondary;
			}
		}
		h2 {
			@extend %round-header;
			background-color: $brand-primary;
			border: 1px dashed white;
			margin-left: 2.75em;
			padding-top: 3em;
			padding-left: 1.25em;
		}
		.services-list {
			padding-top: 1.5em;
			-webkit-column-count: 3;
			-moz-column-count: 3;
			column-count: 3;
			min-height: 125px;
			li {
				margin-left: 1em;
				margin-bottom: 10px;
			}
		}
	}


	.home-gallery {
		@extend %clearfix;
		background-color: $brand-primary;
		max-height: none;

		.block-left,
		.block-right {
			background-color: $brand-primary;
			line-height: 0;
		}
	}
	
	.career-header{
	    padding: 1em 1.5em;
	}

	.careers {
		padding: 1em;
		background-color: $brand-primary;
		color: white;
		a {
			color: white;
			text-decoration: none;
      &:hover {
        color: $brand-secondary;
      }
		}
		h2 {
			font-size: 1.2em;
			background-color: #000;
            border-radius: 50%;
            width: 150px;
            height: 150px;
            padding: 2em 0;
            margin: 0px auto;
            text-align: center;
            
      img {
        width: 85%;
        margin-left: 5%;
        margin-top: 10%;
        margin-bottom: 5%;
      }
		}
		h4 {
			margin: .75em 0 .5em;
		}
		p {
			margin: 1em 2em 1em 0;
		}
	}
	
}

.contact {
    
    padding: 1em;
    
	.block-left{
		line-height: 1;
	}

	.map {
		@extend %half-circle-cutout;

		&:after {
			background-color: #f0f0f1;
		}
	}

	.block-right > .block-left {
		//background: url(../../images/contact-border.png);
		//background-image: url(../../images/contact-border.svg), none;
		//background-repeat: no-repeat;
		//background-position: 250px 50%;
	}
	background: $gray-lighter;
	
	.block-right > .block-right {
		padding-top: 1.5em;
	}
	h3 {
		font-size: 1.2em;
		padding-top: 1em;
		margin: 0;
	}
	p {
		margin: .1em 0 .5em 0;
		line-height: 1.2;
	}
	
        .contact-header{
    	    padding: 2em 1.5em;
    	
    		h2 {
    			font-size: 1.2em;
    			color: #fff;
    			background-color: $brand-tertiary;
                border-radius: 50%;
                width: 150px;
                height: 150px;
                padding: 3em 0;
                margin: 0px auto;
                text-align: center;
            }
        }
}

.posts {
	.posts-header {
		@extend %half-circle-cutout;
		padding: 5em $spacing;
		background-color: $brand-tertiary;
		color: white;
		height: 335px;

		&:after {
			background-color: #fff;
		}
		h2 {
			@extend %round-header;
			background-color: $brand-secondary;
			padding-top: 3em;
		}
		h5 {
			margin-top: 3.5em;
			text-align: center;
      &:hover {
        color: $brand-primary;
      }
		}
	}
	.entry-title {
		margin-bottom: 0;
	}

	.content-grid {
		padding: $spacing $spacing 0 $spacing;
		h2 {
			font-size: .9em;
			text-transform: lowercase;
		}
	}
	.home &, .page-template-front-page-denver  & {
		@include breakpoint(xs) {
			display:none;
		}
	}
}

.home-title{
  background: $brand-tertiary;
  text-align: center; 
    h2{
      line-height: 1.5em;
      color: #fff;
    }
}

.home-posts{
  .entry-header h2 {
    margin: 0 0 .25em 0;
    font-size: 1em;
  }
  
  .entry-header {
    height: 95px;
    color: white;
    background-color: #253746;
    padding: .5em;
    margin-top: -8px;
    text-align: center;
  }
}

.about {
	p {
		margin-bottom: 1em;
	}
	.about-text{
		@extend %orange-dot;
	}
	.about-link {
		color: $brand-secondary;
		font-family: $font-family-sans-serif;
		letter-spacing: 1px;
		text-decoration: none;
		text-transform: uppercase;
    &:hover {
      color: $brand-primary;
    }
	}
	.block-right {
		line-height: 0;
	}
}
.home-cat {
	color: white;
	padding: 3em 9em;
	font-family: $font-family-serif;
	text-align: left;
	background: url(../../images/home-outdoor.jpg);
	background-position: center;
	background-size: cover;
	max-height: 350px;
	p {
		width: 50%;
		font-size: 1em;
		line-height: 1.5;
		font-weight: 300;
	}
	a {
		color: white;
		text-transform: uppercase;
		font-family: $font-family-sans-serif;
		text-decoration: none;
            &:hover {
              color: $brand-secondary;
            }
	}
	
}

.si-feature{
    	margin: 0 auto;
        padding: 20px;
    	
        h3 {        	
        margin: 0px 100px 15px 100px;	
            @media all and (max-width: 580px) {
                margin: 10px;
            }
	    }
    	
    	p {        	
        margin: 0 100px 15px 100px;
        padding-right: 125px;	
            @media all and (max-width: 580px) {
                margin: 10px;
                padding: 10px;
            }
	    }
	    
	    a:hover{
    	    color:#fff;
    	    text-decoration: underline;
	    }
}

/* Media Queries - 992px
---------------------------------------------*/
@media all and (max-width: 992px) {
  .co-logo{
  display: none;
  }
  
	.about .block-right {
		img {
			width: 100%;
		}
	}

	.home .work, .page-template-front-page-denver  .work
	.home .work .featured-image, .page-template-front-page-denver  .home .work .featured-image {
		height: auto;
	}

	.home .work .block-right>.block-left,
	.page-template-front-page-denver  .work .block-right>.block-left
	 {
		background-position: 300px 50%;

		h2 {
			margin-top: 36.5%;
		}
	}

	.home .work .rslides_tabs,
	.page-template-front-page-denver  .work .rslides_tabs
	 {
		right: auto;
		left: 110px;
	}

	.home .row,
	.page-template-front-page-denver  .row {
		max-height: none;
	}

	.home .home-cat,
	.page-template-front-page-denver  .home-cat {
		p {
			width: 100%;
		}
	}

	.home .home-gallery,
	.page-template-front-page-denver  .home-gallery {
		img {
			width: 50%;
		}
		.half {
			height: auto;
		}
		.large {
			img {
				width: 100%;
			}
		}
	}

	.home .contact, .page-template-front-page-denver  .contact {
		.map iframe {
			width: 100%;
		}

		h2 {
			margin-top: 30.65%;
		}

		.block-right {
			.block-left,
			.block-right {
				width: 50%;
			}
		}
	}
}

@media all and (max-width: 885px) {
  

  
	.home .careers, .home .services, .home .contact,
	.page-template-front-page-denver  .careers, .page-template-front-page-denver  .services, .page-template-front-page-denver  .contact {
		text-align: center;

		p {
			margin: 0;
		}

		h2 {
			float: none;
			margin: 0 auto 20px;
		}

		.block-right {
			width: 100%;
		}
	}

	.home .services
	.page-template-front-page-denver  .services {
		text-align: left;
	}
}

@media all and (max-width: 782px) {
	.featured-work .block-right {
		.block-left {
			display: none;
		}
		.block-right {
			width: 100% !important;
			height: 340px;
		}
	}

	.home .work .rslides_tabs {
		left: 0;
		width: 100%;
		margin: 0;
		padding: 0;
		text-align: center;
	}

	.home .contact {
	
			.narrow {
        width: 100%;
      }
			.block-right {
				width: 100%;
				text-align: center;
				padding: 0 0 30px;
			}
		}
		
		.careers .narrow {
        width: 100%;
      }
	
}

.home, .page-template-front-page-denver  {
  .header-menu, .hero-menu, .hero-title {
    display: none;
  }
}

@media all and (min-width: 992px) {
	.home-cat {
		padding: 1.5em;
	}

  body.home, body.page-template-front-page-denver  {
    .header-menu {
      display: none;
    }
    .hero-title {
      display: block;
    }
    &.hero-scroll-hidden {
      .hero-menu, .hero-title {
        display: none !important;
      }
      .header-menu {
        display: block !important;
      }
    }
  }
}

.addy{
    padding-top: 25px;
}

.cta-home-contact{
    background: $gray-lighter;
    padding-bottom: 25px;
}

.page-template-front-page-denver {

    .page-header {
        background: none !important;
    }
    
    .address{
        display: none;
    }
}

@media (max-width: 979px) {
    
    .site-header{
        background: none;

    }

 .home .page-header, 
 .page-template-front-page-denver .page-header{
            margin-top: 0px;
        }
}

.content-bg{
  background: #253746;
  color: #fff;
  padding: 15px;
}

.home-content{
  padding: 25px;
  
  p{
    margin: 0 25px;
    padding-bottom: 25px;
  }
}

.content{
  padding-bottom: 30px;
}



.home-cta{
    text-align: center;
    //margin: 25px auto 0 auto;
    
    a {
    background: #FFB652 none repeat scroll 0% 0%;
    padding: 5px;
    width: 150px;
    display: block;
    font-family: "Hero",Helvetica,Arial,sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    color: #FFF;
    text-decoration: none;
    
        &:hover{
            background: #E27121 none repeat scroll 0% 0%;
        }
    }
}

.tp-caption a.slider-link-white {
  font-family: "Hero",Helvetica,Arial,sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  
  &:hover{
    color: #fff;
  }
}

.co-logo img{
  margin-top: 75px;
}


