.post-type-archive-spawn-projects, .home, .single, .category {
	.site {
		width: 1200px;
		max-width: 100%;
	}

	.page-header {
		background: url(../../images/header-work.jpg);
	}
	.content-grid {
		padding: 1em;
		a {
			color: white;
			line-height: 0;
			height: 0;
			text-decoration: none;
		}
		img {
			line-height: 0;
		}
	}
	.entry-header {
		height: 125px;
		color: white;
		background-color: $brand-primary;
		padding: .5em;
		margin-top: -8px;
		text-align: center;
		h2 {
			margin: 0 0 .25em 0;
			font-size: 1em;
		}
		h3 {
			font-family: $font-family-base;
			font-style: italic;
			text-transform: none;
			margin-top: 0;
			font-size: 1em;
		}
	}

  .content-grid:hover {
    h3, h2 {
      color: $brand-secondary;
    }
  }
}

.single-spawn-projects {
	.page-header {
		background: #b3b3b3;
		position: relative;
    margin-top: 60px;
	}
	.related {
		padding: 0 3em;
	}
	.entry-footer {
		padding: 3em;
		font-family: $font-family-sans-serif;
	}
	.content-grid {
		article {
			padding: 1.5em;
		}

	}
	.project-sidebar {
		padding: 1em;
		background: $gray-lighter;
		font-family: $font-family-sans-serif;
		h3 {
			margin: 0 0 0 0;
		}
		p {
			margin: 0 0 1em 0;
		}
		a {
			text-decoration: none;
		}
	}
	
	h2.entry-title{
		font-size: 1em;
	}
	
	h3.entry-client {
		display: none;
	}
	.post-navigation {
		margin: 0;
		a {
			display: block;
			height: 50px;
			width: 50px;
		}
		.nav-next {
			background-image: url(../../images/larr.png);
			background-repeat: no-repeat;
			position: absolute;
			height: 20px;
			width: 20px;
			top: 50%;
			left: 1em;
		}
		.nav-previous {
			background-image: url(../../images/rarr.png);
			background-repeat: no-repeat;
			background-position: right;
			position: absolute;
			height: 20px;
			width: 20px;
			top: 50%;
			right: 1em;
		}
	}
}



.project-filter{
	position: relative;
	margin: 2em 1em 1em 1em;
	button, a.filter-toggle {
		background-color: $brand-tertiary;
		color: white;
		padding: 1em 4em;
		&:hover {
			background: $brand-secondary;
		}

	}
	.filters {
		background-color: $gray-lighter;
		padding: 2em;
		@extend %clearfix;
	}
	.filter-list {
		width: 30%;
		float: left;
		text-align: center;
		h5 {
			color: $brand-secondary;
		}
		ul {
			list-style-type: none;
			margin-left: 0;
			padding: 0;
		}
		li {
			font-family: $font-family-sans-serif;
		}
		a {
			text-decoration: none;
			&:hover {
				// text-decoration: underline;
			}
		}
	}
	.view-all {
		a {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			white-space: nowrap;
			background: $brand-tertiary;
			color: white;
			text-decoration: none;
			float: right;
			&:hover {
				background: $brand-secondary;
			}
		}
	}
}

.hidden {
	display: none;
}

@media all and (min-width: 1200px) {
	.project-sidebar {
		width: 297px;
		float: right;
		height: 600px;
		overflow: hidden;
		p {
			margin: 0 0 1.5em 0;
		}
	}

}
@media all and (min-width: 1130px) and (max-width: 1199px) {
	.project-sidebar {
		width: 20%;
		max-width: 297px;
		float: right;
		height: 600px;
		overflow: hidden;
		background: white !important;
		padding: .5em !important;
		p {
			margin: 0 0 1em 0;
			font-size: .9em;
		}
	}
}

@media all and (max-width:1129px) {
	.single-spawn-projects {
		.site {
			width: 94%;
		}
	}
}

@media all and (max-width: 920px) {
	.single-spawn-projects {
    .page-title {
      line-height: 1em;
    }
		.project-sidebar {
			height: auto;
			width: 100%;
		}
	}
}

@media all and (max-width: 750px) {
	.single-spawn-projects .content-grid article {
		text-align: center;
	}

}

@media all and (max-width: 540px) {
	.single-spawn-projects {
		.site {
			width: 100%;
		}
	}	
}

