/*--------------------------------------------------------------
10.1 Posts and pages
--------------------------------------------------------------*/
.sticky {
}
.byline,
.updated {
	display: none;
}
.single .byline,
.group-blog .byline {
	display: inline;
}



.page-links {
	clear: both;
	margin: 0 0 $spacing;
}
.single-post .content-area {
	margin: 2em auto;
	width: 60%;
	@include breakpoint (sm) {
		width: 90%;
	}
}

.entry-meta {
	font-family: $font-family-sans-serif;
	font-size: $font-size-small;
	color: $gray-dark;
		a {
			color: $gray-darker;
		}
}


.content-list {
	.post, .type-post, .type-spawn-projects, .archive {
		margin: $spacing;
		@extend %clearfix;
		@include breakpoint(xs) {
			margin: 0;
		}
	}
	.thumbnail {
	}
	.entry {
		padding-left: $spacing;
		@include breakpoint(xs) {
			padding-left: 0;
			margin: 0;
		}

		h3 {
			margin-top: 0;
			@include breakpoint(xs) {
				margin: 0;
			}
		}
	}
	.entry-content {
		margin-top: 0;
	}
	@include breakpoint(xs) {
		.wide {
			width: 100%;
		}
		.block-right {
			float: none;
		}

	}
}

// pks: thumnail zooming
.content-grid {

  h2 {
    margin-top: .25em !important; // archive-category entry-header
  }

  a {
    .thumbnail {
      overflow: hidden;
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      img {
        @include transition(all .3s ease-in-out);
      }
    }
    &:hover {
      color: $brand-secondary;
      img {
        @include transform(scale(1.2));
      }
    }
  }
}



.entry-content {
	h1, h2, h3, h4, h5, h6 {
		margin: 0 0 0.75em;
	}
  img.wp-post-image {
    margin-right: 1em;
    float: left;
    clear: left;
    width: 43%;
    max-width: 290px;
  }
	p {
		margin: 0 0 1.5em;
	}

}

