.page-template-template-services-php, .page-template-template-services-strategy-php,
.page-template-template-services-creative-php, .page-template-template-services-digital-php, .page-template-template-services-media-php, .page-template-template-services-production-php {
	.page-header {
		background: url(../../images/header-services.jpg);
	}

	.site-footer {
		margin-top: 30px;
	}
	
	.divider {
    	//height: 100px;
    	//padding-top:.5em; 
	}
	
	.posts {
    background-color: #F0F0F1;
    }

}


.page-template-template-services-strategy-php{    
    ul#icon-list li.icon-strategy a{
        background-color: $brand-primary;
        background-position: 35px -165px;
        color: #fff;
    }
}

.page-template-template-services-creative-php{    
    ul#icon-list li.icon-creative a{
        background-color: $brand-primary;
        background-position: -110px -165px;
        color: #fff;
    }
}

.page-template-template-services-digital-php{    
    ul#icon-list li.icon-digital a{
        background-color: $brand-primary;
        background-position: -265px -165px;
        color: #fff;
    }
}

.page-template-template-services-media-php{    
    ul#icon-list li.icon-media a{
        background-color: $brand-primary;
        background-position: -405px -165px;
        color: #fff;
    }
}

.page-template-template-services-production-php{    
    ul#icon-list li.icon-production a{
        background-color: $brand-primary;
        background-position: -405px -165px;
        color: #fff;
    }
}


.home .top-icons, .page-template-front-page-denver  .top-icons {
    background: #253746;
    
    ul#icon-list{
        
        li a{
            color:#fff;
        }
        
        .icon-strategy a{
            background-position: 35px -165px;     
        }
            
        .icon-creative a{
            background-position: -110px -165px;               
        }
            
        .icon-digital a{
            background-position: -265px -165px;               
        }
            
        .icon-media a{
            background-position: -405px -165px;
        }  
        
        .icon-production a{
            background-position: -405px -165px;
        }      
        
    }
  
}


.top-icons{
    background: $gray-lighter;
    
    .icon-table {
	    display: table;   /* Allow the centering to work */
        margin: 0 auto;
    }
    
    ul#icon-list {
        font-family: "Hero",Helvetica,Arial,sans-serif;
        letter-spacing: .08em;
        font-size:18px;
    	list-style: none;
    	//padding: 20px 0;
    	margin: 0px;
	
        	li {
        		//display: inline;
        		float: left;
                padding: 0;
                margin: 0px;
                
                a{
                background:url("../../images/icon-services-5.png") no-repeat transparent;      
                color: #333;
                text-transform: uppercase;
                display: inline-block;
                line-height: 100px;
                padding: 80px 10px;
                height: 150px; 
                width: 170px;
                text-align: center;
                
                    &:hover{
                        background-color: $brand-secondary;
                        color:#fff;
                    }                                    
                        
                }                        	
            }
                        
            .icon-strategy a{
                background-position: 35px 18px;
                
                    &:hover, &:visited {
                        background-position: 35px -165px;
                    }
                
            }
            
            .icon-creative a{
                background-position: -110px 18px;
                
                    &:hover{
                        background-position: -110px -165px;
                    }
                
            }
            
            .icon-digital a{
                background-position: -265px 18px;
                
                    &:hover{
                        background-position: -265px -165px;
                    }
                
            }
            
            .icon-media a{
                background-position: -405px 18px;
                
                    &:hover{
                        background-position: -405px -165px;
                    }
                
            }
            
            .icon-production a{
                background-position: -550px 18px;
                
                    &:hover{
                        background-position: -550px -165px;
                    }
                
            }
    }      
}

h3.service-title {
    //padding: 0 3em;

}

.page {
	.services-sub-text {
		@extend %orange-dot;
		margin-top: 30px; 
		margin-bottom: 0;
		padding: 1em 3.5em 0 8em;
		
		&:before{
    		top:0em;
		}
		
			
		    h3, h4{
    		    line-height: 1em;
		    }
		    
		    h3{
    		    font-size: 36px;
    		    
		    }
		    
		    h4{
    		    color: $brand-secondary;
		    }
		    
    }
    
    .category-header {
		.featured-image {
			@extend %half-circle-cutout;
			line-height: 0;

			&:after {
				background-color: #fff;
			}
		}
	}

}

.services-open{
     margin: 1.5em auto;
     text-align: center;
     width: 60%
     
}

.services-title {
	@extend %half-circle-cutout;
	overflow: hidden;

	

	h2 {
		float: left;
		margin-left: 76px;
		padding: 0 8px;
		position: relative;
		font-size:20px;
		text-align: center;
		width: 250px;
		display: block;
		vertical-align: middle;

		&:before {
				background-image: url(../../images/four-burst-left.png);
				content: "";
				display: block;
				height: 70px;
				left: -42px;
				position: absolute;
				top: -18px;
				width: 42px;
			}

			&:after {
				background-image: url(../../images/four-burst-right.png);
				content: "";
				height: 70px;
				display: block;
				width: 44px;
				right: -42px;
				position: absolute;
				top: -18px;
			}
	}
} 

.service-wrap{
    width: 100%;
    margin: 0 auto;
}   

.service {
	padding-top: 2em;
	width: 33.3%;
	float: left;
	text-align: center;
	.service-details {
		padding: 0 3em;
		img {
			height: 70px;
			width: 70px;
			margin-bottom: 1.25em;
		}
	}
	.service-footer {
		min-height: 175px;
	}
	.service-logo {
		height: 110px;
		&.social {
			background: url('../../images/service-social.png');
			background-image: url('../../images/service-social.svg'), none;
			background-repeat: no-repeat;
			background-position: top center;
		}
		&.analytics {
			background: url('../../images/service-analytics.png');
			background-image: url('../../images/service-analytics.svg'), none;
			background-repeat: no-repeat;
			background-position: top center;

		}
		&.branding {
			background: url('../../images/service-branding.png');
			background-image: url('../../images/service-branding.svg'), none;
			background-repeat: no-repeat;
			background-position: top center;

		}
		&.broadcast {
			background: url('../../images/service-broadcast.png');
			background-image: url('../../images/service-broadcast.svg'), none;
			background-repeat: no-repeat;
			background-position: top center;

		}
		&.design {
			background: url('../../images/service-design.png');
			background-image: url('../../images/service-design.svg'), none;
			background-repeat: no-repeat;
			background-position: top center;

		}
		&.digital {
			background: url('../../images/service-digital.png');
			background-image: url('../../images/service-digital.svg'), none;
			background-repeat: no-repeat;
			background-position: top center;

		}
		&.media {
			background: url('../../images/service-media.png');
			background-image: url('../../images/service-media.svg'), none;
			background-repeat: no-repeat;
			background-position: top center;

		}
		&.planning {
			background: url('../../images/service-planning.png');
			background-image: url('../../images/service-planning.svg'), none;
			background-repeat: no-repeat;
			background-position: top center;

		}
		&.search {
			background: url('../../images/service-search.png');
			background-image: url('../../images/service-search.svg'), none;
			background-repeat: no-repeat;
			background-position: top center;

		}
		
		&.strategy {
			background: url('../../images/service-search.png');
			background-image: url('../../images/service-search.svg'), none;
			background-repeat: no-repeat;
			background-position: top center;

		}
		
		&.research {
			background: url('../../images/service-search.png');
			background-image: url('../../images/service-search.svg'), none;
			background-repeat: no-repeat;
			background-position: top center;

		}
		
		&.consumer {
			background: url('../../images/service-search.png');
			background-image: url('../../images/service-search.svg'), none;
			background-repeat: no-repeat;
			background-position: top center;

		}
		
		&.message{
			background: url('../../images/service-search.png');
			background-image: url('../../images/service-search.svg'), none;
			background-repeat: no-repeat;
			background-position: top center;

		}
		
		&.communications{
			background: url('../../images/service-search.png');
			background-image: url('../../images/service-search.svg'), none;
			background-repeat: no-repeat;
			background-position: top center;

		}
	}
	.service-description {
		height: 280px;
	}
	h5,
	.sign-up {
		color: $brand-secondary;
		font-size: .9em;
		text-decoration: none;
		text-transform: uppercase;
		font-family: $font-family-sans-serif;
		margin-bottom: 1em;
	}
}

.services-link {
	color: $brand-secondary;
	text-decoration: none;
}

.service-cta{
    text-align: center;
    margin: 25px auto 10px auto;
    
    h3 {
    color: $brand-secondary;
    }
    
    a {
    background: #FFB652 none repeat scroll 0% 0%;
    padding: 5px;
    width: 250px;
    display: block;
    font-family: "Hero",Helvetica,Arial,sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    color: #FFF;
    text-decoration: none;
    
        &:hover{
            background: #E27121 none repeat scroll 0% 0%;
        }
    }
}

.posts .posts-header h2.work-in {
    padding: 2.55em 0px 0px;
}

.work-serv-proj{
    background-color: #F0F0F1;
    
   .posts-header::after {
    background-color: #F0F0F1;
}

    
    .entry-header {
		padding: .5em;
		margin-top: -8px;
		text-align: center;
    		h2 {
    			margin: 0 0 .25em 0;
    			font-size: 1em;
    			text-transform: uppercase;
    		}
        } 
        
    .content-grid h3 {
    font-size: 0.9em;
    text-transform: lowercase;
    }
    
    .entry-header h3 {
    font-family: "Garamond",Georgia,serif;
    font-style: italic;
    margin-top: 0px;
    }   
}
		



@media all and (max-width: 1164px) {
	.service {
		.service-description {
			height: 490px;
		}
	}
}

@media all and (max-width: 945px) {
	.service {
		width: 50%;

		.service-description {
			height: 340px;
		}

		.service-details {
			padding: 0 0.75em;
		}
	}
}

@media all and (max-width: 650px) {
	.service {
		width: 100%;

		.service-description {
			height: auto;
			margin-bottom: 20px;
		}

		.service-footer {
			min-height: 0;
		}
	}
}

.category .service-cta{
    margin-bottom: 30px;
    
}