/*--------------------------------------------------------------
7.0 Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: $spacing;
}
.alignright {
	display: inline;
	float: right;
	margin-left: $spacing;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}
