/*--------------------------------------------------------------
3.0 Elements
--------------------------------------------------------------*/
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: $spacing;
}
ul, ol {
	margin: 0 0 $spacing $spacing;
	padding-left: 1em;
	@include breakpoint(sm) {
		margin: 0 0 1em 1em;
		padding-left: 1em;
	}
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: $spacing;
	@include breakpoint(sm) {
		margin-left: 1em;
	}
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 $spacing $spacing;
}
img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
	line-height: 0;
}
figure {
	margin: 0;
}
table {
	margin: 0 0 $spacing;
	width: 100%;
}
th {
	font-weight: bold;
}
