/*--------------------------------------------------------------
4.0 Forms
--------------------------------------------------------------*/
.button,
button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	font-family: $headings-font-family;
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
}
.button, button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="file"] {
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
	text-transform: uppercase;
	border: none;
	background: $brand-tertiary;
	color: white;
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	font-size: 14px;
	line-height: 1.2;
	padding: .6em 1em .4em;
	text-align: left;
}
input[type="file"] {
	-webkit-appearance: none;
	padding: .6em 0 .4em 0;
}
.button:hover, button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="file"]:hover {
	background: lighten($gray-lighter, 5%);
	background: $brand-secondary;
}
.button:focus, button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
input[type="file"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active,
input[type="file"]:active {
	border-color: #aaa #bbb #bbb;
}
input[type="checkbox"],
input[type="radio"] {
	padding: 0; /* Addresses excess padding in IE8/9 */
}
input[type="search"] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	-webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
	-moz-box-sizing:    content-box;
	box-sizing:         content-box;
}
input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}
.button::-moz-focus-inner,
button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
textarea {
	display: block;
	color: $gray-darker;
	background: $gray-light;
	border: none;
	margin-bottom: 1em;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
textarea:focus {
	color: #111;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"] {
	padding: 5px;
}
textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding-left: 3px;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 100%;
}

label {
	font-family: $font-family-sans-serif;
}

/* Gravity Forms styles*/

.gform_wrapper {
	ul {
		margin-left: 0;
		padding-left: 0;
		list-style: none;
	}
	input[type="submit"] {
		background: $brand-secondary;
		color: white;
		&:hover {
			background: $brand-tertiary;
		}
	}
	.left_label .gfield_label {
		width: 34% !important;
		margin: 0 15px 15px 0 !important;
	}
	.left_label .gfield_description {
		margin-left: 35.3% !important;
		padding: 0 !important;
		font-family: $font-family-sans-serif;
		color: $gray-dark;
		font-size: .8em;
	}
	.gform_footer.left_label {
		padding: 16px 0 10px 35.3% !important;
	}
	&.gf_browser_chrome .gfield_radio li input[type=radio] {
		margin-left: 4px;
	}
	input[type=text],
	input[type=url],
	input[type=email],
	input[type=tel],
	input[type=number],
	input[type=password],
	textarea {
		font-size: 14px !important;
		padding: 3px 2px 3px 2px !important;
	}
}
