/*--------------------------------------------------------------
12.1 Captions
--------------------------------------------------------------*/
img {
	line-height: 0;
}
.wp-caption {
	margin-bottom: $spacing;
	max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0 auto;
}
.wp-caption-text {
	text-align: center;
}
.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.instagram-grid-6 img {
	width: 16.6667%;
}