html,
body {
	min-height: 100%;
}
body {
	background: #58595B;
	-webkit-font-smoothing: antialiased;
	font-rendering: optimizeLegibility;
}
.site {
	max-width: $screen-lg-min;
	margin: 0 auto;
	position: relative;
	background: white;
	overflow: hidden;
}
.content-area {
}
.site-main {
	clear: both;
}
.site-footer {
	clear: both;
	width: 100%;
}
.clear,
.entry-content,
.comment-content,
.site-header,
.site-content,
.site-footer {
	@extend %clearfix;
}

.row {
	width: 100%;
	clear: both;
}
.half {
	width: 50%;
	@include breakpoint(xs) {
		width: 100%;
	}
}
.narrow {
	width: 25%;
}
.narrow-third {
	width: 33%;
}
.wide {
	width: 75%;
}
.block-left {
	float: left;
}
.block-right {
	float: right;
}