.main-navigation {
	width: 100%;
	max-width: 1200px;
	display: block;
	float: left;
	line-height: 1;
	background: $brand-primary;
	position: fixed;
	top: 0;
	margin-top: 0;
	height: 64px;
	z-index: 100;

	.admin-bar & {
		top: 32px;
	}
}


/*--------------------------------------------------------------
5.2 Menus
--------------------------------------------------------------*/
.menu-toggle:after{
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	vertical-align: text-bottom;
}


/* Clearing floats */
.navigation:after,
.nav-links:after{
	clear: both;
}

.navigation:before,
.navigation:after,
.nav-links:before,
.nav-links:after
 {
	content: "";
	display: table;
}



ul.nav-menu,
div.nav-menu > ul {
	margin: 0;
	padding: 0 40px 0 0;
}

.nav-menu li {
	display: inline-block;
	position: relative;
}

.nav-menu li a {
	color: #fff;
	display: block;
	font-size: 15px;
	line-height: 1;
	padding: 24px 20px;
	text-decoration: none;
}

.nav-menu li:hover > a,
.nav-menu li a:hover,
.nav-menu li:focus > a,
.nav-menu li a:focus {
	background:#3f5e78;
	color: #fff;
}

.nav-menu .sub-menu,
.nav-menu .children {
	background:$brand-primary;
    margin-left: 2px;
	padding: 0;
	position: absolute;
	left: -2px;
	z-index: 99999;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}

.nav-menu .sub-menu ul,
.nav-menu .children ul {
	left: 100%;
	top: 0;
}

ul.nav-menu ul a,
.nav-menu ul ul a {
	color: #fff;
	margin: 0;
	width: 200px;
	padding: 15px 20px;
}

ul.nav-menu ul a:hover,
.nav-menu ul ul a:hover,
ul.nav-menu ul a:focus,
.nav-menu ul ul a:focus {
	background:#3f5e78;
}

ul.nav-menu li:hover > ul,
.nav-menu ul li:hover > ul,
ul.nav-menu .focus > ul,
.nav-menu .focus > ul {
	clip: inherit;
	overflow: inherit;
	height: inherit;
	width: inherit;
}

.nav-menu .current_page_item > a,
.nav-menu .current_page_ancestor > a,
.nav-menu .current-menu-item > a,
.nav-menu .current-menu-ancestor > a {
	color: #fff;
}

.menu-toggle {
	display: none;
}


/* Small menu */
@media (max-width: 800px) {
    
    /* Small menu */
	.menu-toggle {
		cursor: pointer;
		display: inline-block;
		font: bold 16px/1.3 "Source Sans Pro", Helvetica, sans-serif;
		margin: 0;
		padding: 12px 0 12px 20px;
	}

	.menu-toggle:after {
		font-size: 12px;
		padding-left: 8px;
		vertical-align: -4px;
	}
	
	.menu-toggle{
        background: transparent;
        padding: 1.0em;
	}
	
	.menu-toggle:hover {
        background: #3f5e78;
    }

	.toggled-on .menu-toggle:after {
		//content: "\f500";
		vertical-align: 2px;
	}

	.toggled-on .nav-menu,
	.toggled-on .nav-menu > ul {
    	background-color: $brand-primary;
		display: block;
		margin-left: 0;
		padding: 0;
		width: 100%;
	}

	.toggled-on li,
	.toggled-on .children {
		display: block;
	}

	.toggled-on .nav-menu li > ul {
		background-color: transparent;
		display: block;
		float: none;
		margin-left: 20px;
		position: relative;
		left: auto;
		top: auto;
	}

	.toggled-on .nav-menu li > ul a {
		color: #fff;
		width: auto;
	}

	.toggled-on .nav-menu li:hover > a,
	.toggled-on .nav-menu .children a {
		background-color: transparent;
		color: #fff;
	}

	.toggled-on .nav-menu li a:hover,
	.toggled-on .nav-menu ul a:hover {
		background-color: #3f5e78;
		color: #fff;
	}

	ul.nav-menu,
	div.nav-menu > ul {
		display: none;
	}
	
}

/* At smaller breakpoints: both menus combine */

/* Previous-Next navigation */
.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
	margin: $spacing 0;
	overflow: hidden;
	font-family: $font-family-sans-serif;
	color: $gray-dark;
	font-size: $font-size-small;
	a {
		color: $gray-darker;
	}
}
.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}
.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/* ShiftNav Plugin */

@media (max-width: 979px) {   
   
    .site-title img {
    	display: none;
    	}
	
    .shiftnav * {
        //background: $brand-primary !important;
        
        ul.shiftnav-menu ul.sub-menu{
        //margin-right: 15px;
        }	

        
        a{
        //color:#fff;
        //font-family: "Hero", Helvetica,Arial,sans-serif;
        }
    }
    
    
    shiftnav-toggle-main-button{
        .fa{
            //font-size: 18px;
        }
    }
    
}

