/*--------------------------------------------------------------
2.0 Typography
--------------------------------------------------------------*/

@font-face {
    font-family: 'Garamond';
    src: url('../fonts/ebgaramond/ebgaramond-webfont.eot');
    src: url('../fonts/ebgaramond/ebgaramond-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ebgaramond/ebgaramond-webfont.woff') format('woff'),
         url('../fonts/ebgaramond/ebgaramond-webfont.ttf') format('truetype'),
         url('../fonts/ebgaramond/ebgaramond-webfont.svg#heroregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hero';
    src: url('../fonts/hero/hero-webfont.eot');
    src: url('../fonts/hero/hero-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/hero/hero-webfont.woff') format('woff'),
         url('../fonts/hero/hero-webfont.ttf') format('truetype'),
         url('../fonts/hero/hero-webfont.svg#heroregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hero Light';
    src: url('../fonts/hero/hero_light-webfont.eot');
    src: url('../fonts/hero/hero_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/hero/hero_light-webfont.woff') format('woff'),
         url('../fonts/hero/hero_light-webfont.ttf') format('truetype'),
         url('../fonts/hero/hero_light-webfont.svg#hero_lightlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Muncie';
    src: url('../fonts/muncie/muncie-webfont.eot');
    src: url('../fonts/muncie/muncie-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/muncie/muncie-webfont.woff') format('woff'),
         url('../fonts/muncie/muncie-webfont.ttf') format('truetype'),
         url('../fonts/muncie/muncie-webfont.svg#muncieregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body,
button,
input,
select,
textarea {
	color: $text-color;
	font-family: $font-family-base;
	line-height: $line-height-base;
	font-size: $font-size-base;
}
h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: $headings-font-family;
	font-weight: $headings-font-weight;
	line-height: $headings-line-height;
	text-transform: uppercase;
	letter-spacing: .05em;
}
h1 {
	font-size: $font-size-h1;
}
h2 {
	font-size: $font-size-h2;
}
h3 {
	font-size: $font-size-h3;
}
h4 {
	font-size: $font-size-h4;
}
h5 {
	font-size: $font-size-h5;
}
h6 {
	font-size: $font-size-h6;
}
p {
	margin-bottom: $spacing;
}
b, strong {
	font-weight: bold;
}
dfn, cite, em, i {
	font-style: italic;
}
blockquote {
	margin: 0 $spacing;
}
address {
	margin: 0 0 $spacing;
}
pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}
code, kbd, tt, var {
	font-size: 15px;
	font-family: $font-family-monospace;
}
abbr, acronym {
	border-bottom: 1px dotted $gray;
	cursor: help;
}
mark, ins {
	background: #fff9c0;
	text-decoration: none;
}
sup,
sub {
	font-size: $font-size-small;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
small {
	font-size: $font-size-small;
}
big {
	font-size: $font-size-large;
}

.page-header {
//	background: url(../../images/salmon75.jpg);
	margin-top: 50px;
	h1 {
		font-family: $font-family-highlight;
		font-size: 6.5em;
		color: white;
		text-shadow: 0 0 1px rgba( black, .2 );
		margin: 0 auto;
		text-align: center;
		padding: .2em;
		letter-spacing: 0;
		@include breakpoint(xs) {
			font-size: 4em;
		}
	}
}
